.accordeon{
    margin-bottom: 3rem;
}
.accordeon .card{
    border-radius: 0;
    border-bottom-width: 0;
}
.accordeon .card:first-child{
    border-radius: .5rem .5rem 0 0;
}
.accordeon .card:last-child{
    border-radius: 0 0 .5rem .5rem;
    border-bottom-width: 1px;
}
.accordeon .card-link{
    position: relative;
    padding-left: 2.6rem;
}
.accordeon .toggle{
    width: 0.8rem;
    height: 0.8rem;
    transition: transform .2s ease;
    position: absolute;
    left: 1.2rem;
    background-color: transparent;
    background-size: 90%;
    top: calc(50% - .4rem);
}
.accordeon .card .card-link[aria-expanded="false"] .toggle,
.accordeon .card:not(:first-child) .card-link:not([aria-expanded="true"]) .toggle{
    transform: rotate(45deg);
}
.collapse:not(.in){
    display: none;
}