.accordeon{
    margin-bottom: 3rem;
}
.accordeon .card{
    padding-left: 2.5rem;
}
.accordeon .card:not(:last-child){
    padding-bottom: 1.3rem;
    margin-bottom: 1.3rem;
    border-bottom: 1px solid @lightborder;
}
.accordeon .card-link{
    font-weight: bold;
    font-size: 1.5rem;
    color: @darktext;
    position: relative;
}
.accordeon .card-link:before{
    content: '\00d7';
    position: absolute;
    left: -2.2rem;
    top: -0.1rem;
    font-size: 1.5rem;
    line-height: 1;
    transform: scale(1.4);
    font-weight: 400;
}
.accordeon .card .card-link[aria-expanded="false"]:before,
.accordeon .card:not(:first-child) .card-link:not([aria-expanded="true"]):before{
    transform: scale(1.4) rotate(45deg);
}
.accordeon .card-body{
    margin-top: 1rem;
}
.collapse:not(.in){
    display: none;
}