/* Alerts */
#alert-list .alert{
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}
.alert ul{
    padding-left: 1.2rem;
    margin: .5rem 0;
}
.alert p{
    margin: .5rem 0;
}
.alert{
    padding: .75rem 1rem;
    border-radius: .25rem;
    color: var(--alrt-t);
    background: var(--alrt-b);
    border: 1px solid var(--alrt-r);
    font-size: .95em;
    position: relative;
}
.alert .close{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: currentColor;
}
.alert:not(:first-child){
    margin-top: 1rem;
}
.alert:not(:last-child){
    margin-bottom: 1rem;
}
.alert a:not(.btn){
    text-decoration: underline;
    color: currentColor;
}
.alert > *:first-child{
    margin-top: 0;
}
.alert > *:last-child{
    margin-bottom: 0;
}
.alert-info{
    background: var(--info-b);
    border: 1px solid var(--info-r);
    color: var(--info-t);
}
.alert-warning{
    background: var(--warn-b);
    border: 1px solid var(--warn-r);
    color: var(--warn-t);
}
.alert-danger{
    background: var(--dang-b);
    border: 1px solid var(--dang-r);
    color: var(--dang-t);
}
.alert-success{
    background: var(--succ-b);
    border: 1px solid var(--succ-r);
    color: var(--succ-t);
}
.alert-hotstock{
    background: var(--det-hot-b);
    color: var(--det-hot-t);
}
.alert *:not(a){
    color: currentColor;
}