/* Buttons */
.btn,
.modal-dialog .answer > a,
#amazonpayments .lpa-cancel a{
    display: inline-flex;
	align-items: center;
    padding: .7rem 1.2rem;
    border-radius: .5rem;
    line-height: 1.2;
    font-weight: 600;
    background: @lightfocusbg;
    position: relative;
    transition: .3s ease;
    color: @darktext;
    border: 0;
    cursor: pointer;
    margin: 0;
}
.btn-blank{
    background: none;
    border: 0;
}
.btn-rd{
    border-radius: 10rem;
}
.btn-default:hover,
.modal-dialog .answer > a:hover{
    background: @strongborder;
}
.btn-danger,
.btn.warning,
.btn-warning,
.btn-success,
.btn-info{
    color: @backgroundtext;
}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}
label.btn-block,
.radio .btn-block{
    text-align: left;
}
.btn.btn-primary,
.btn.active,
.btn-social{
    background: @brand;
    @gradientbrand;
    color: @backgroundtext;
}
.btn-lg{
    padding: .85rem 1.2rem;   
    font-size: 1.1rem;
}
.btn-ic{
    padding: .7rem;
}
.btn-info{
    background: @info;
}
.btn-warning{
    background: @warning;
}
.btn-danger{
    background: @danger;
}
.btn-success{
    background: @success;
}

.btn-group,
.modal-dialog .answer{
    display: flex;
    margin: .5rem 0;
}
.btn-group-full .btn{
    flex-grow: 1;
}
.text-right .btn-group,
.btn-group.text-right{
    justify-content: flex-end;
}
.btn-group .btn,
.modal-dialog .answer > a{
    border-radius: 0;
}
.btn-group .btn:first-child,
.modal-dialog .answer > a:first-child,
.btn-group > .form-control:first-child{
    border-radius: .3rem 0 0 .3rem;
}
.btn-group .btn:last-child,
.modal-dialog .answer > a:last-child,
.btn-group > .form-control:last-child{
    border-radius: 0 .3rem .3rem 0;
}
.btn-group .btn:not(:first-child),
.modal-dialog .answer > a:not(:first-child){
    margin-left: -1px;
}
.btn-sm,
.btn-xs{
    padding: .55rem 1rem;
    font-size: .9rem;
	text-align: center;
}
.btn-xs{
    padding: .4rem 1rem;
}
.btn.text-center, #frm_filter > button{
    justify-content: center
}
.btn:not(.btn-default):hover,
.btn:not(.btn-default):focus{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.close-btn,
.modal-header button[data-dismiss="modal"],
.alert .close,
.accordeon .toggle{
     background: @lightbg url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBkPSJNNjEuMiA1MC41bDMyLjEgMzIuMWMzIDMgMyA3LjcgMCAxMC43LTMgMy03LjcgMy0xMC43IDBMNTAuNSA2MS4yIDE4LjQgOTMuM2MtMyAzLTcuNyAzLTEwLjcgMC0zLTMtMy03LjcgMC0xMC43bDMyLjEtMzIuMUw3LjcgMTguNGMtMy0zLTMtNy43IDAtMTAuN3M3LjctMyAxMC43IDBsMzIuMSAzMi4xTDgyLjYgNy43YzMtMyA3LjctMyAxMC43IDAgMyAzIDMgNy43IDAgMTAuN0w2MS4yIDUwLjV6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==')no-repeat center center/34%;
}
.close-btn,
.modal-header button[data-dismiss="modal"],
.alert .close{
    margin: 0 0 0 1rem;
    order: 1;
    cursor: pointer;
    font-family: "Courier New",Courier,'Arial';
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    line-height: normal;
    color: @darktext;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    padding: 0;
    position: absolute;
    top: .5rem;
    right: .5rem;
    transition: background .2s ease, color .2s ease;
}
.modal-header button[data-dismiss="modal"]{
    position: static;
}
button[data-dismiss="modal"] span,
.close-btn span{
    display: none;
}
/*
.close-btn:before, 
button[data-dismiss="modal"]:before,
.alert .close:before{
	content: '\00d7';
	display: block;
}*/
.close-btn:hover,
button[data-dismiss="modal"]:hover,
.alert .close:hover{
    background-color: @darkbg;
    color: white
}