img[data-srcset]:not(.lazyloaded){
    opacity: 0;
}
img{
    max-width: 100%;
}
.img-fluid,
.img-responsive,
img[style*="width"]:not(.zoomImg),
img[width]:not(.zoomImg):not([width="auto"]),
img[style*="height"]:not(.zoomImg),
img[height]:not(.zoomImg):not([height="auto"]){
    max-width: 100%;
    height: auto !important;
}
.img-ct,
.embed-responsive{
    position: relative;
    border-radius: .8rem;
	display: flex;
	overflow: hidden;
}
.img-ct:not(.icon) img{
    border-radius: .8rem;
}
.img-w{
    margin-bottom: .9rem;
    position: relative;
}
.img-w .img-ct{
    transition: box-shadow .3s ease, transform .3s ease;
}
.img-w:hover .img-ct{
    box-shadow: 0 16px 16px rgba(0,0,0,.1);
    transform: translateY(-4px);
}
/* Ratios Standard 1x1 */
.img-ct:before,
.embed-responsive:before{
	content: '';
	padding-top: 100%;
    display: block;
}
.img-ct.icon{
    width: 1rem;
	border-radius: 0;
}
.img-ct.icon.ic-md{
    width: 1.2rem;
}
.img-ct.icon.ic-lg{
    width: 1.75rem;
}
.img-ct.icon.icon-xl{
    width: 2.5rem;
}
.icon-wt{
	margin-right: .5rem;
}
.img-ct img, 
.img-ct>svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: cover;
}
.ic-w svg,
svg.icon-darkmode {
    fill:#fff;
}
.img-ct.contain img,
.img-ct > svg{
	object-fit: contain;
}

/* 16:9 */
.image.rt16x9 .img-ct:before,
.img-ct.rt16x9:before,
.embed-responsive-16by9:before{
    padding-top: 56.25%
}
/* 10:8 */
.image.rt10x8 .img-ct:before,
.img-ct.rt10x8:before{
    padding-top: 80%;
}
/* 7:5 */
.image.rt7x5 .img-ct:before,
.img-ct.rt7x5:before{
    padding-top: 71.43%;
}
/* 4:3 */
.image.rt4x3 .img-ct:before,
.img-ct.rt4x3:before{
    padding-top: 75%;
}
/* 5:3 */
.image.rt5x3 .img-ct:before,
.img-ct.rt5x3:before{
    padding-top: 60%;
}
/* 3:2 */
.image.rt3x2 .img-ct:before,
.img-ct.rt3x2:before{
    padding-top: 66.67%;
}
/* 9:16 */
.image.rt9x16 .img-ct:before,
.img-ct.rt9x16:before{
    padding-top: 177.78%;
}
/* 8:10 */
.image.rt8x10 .img-ct:before,
.img-ct.rt8x10:before{
    padding-top: 125%;
}
/* 5:7 */
.image.rt5x7 .img-ct:before,
.img-ct.rt5x7:before{
    padding-top: 140%;
}
/* 3:4 */
.image.rt3x4 .img-ct:before,
.img-ct.rt3x4:before{
    padding-top: 133.34%;
}
/* 3:5 */
.image.rt3x5 .img-ct:before,
.img-ct.rt3x5:before{
    padding-top: 166.67%;
}
/* 2:3 */
.image.rt2x3 .img-ct:before,
.img-ct.rt2x3:before{
    padding-top: 150%;
}