#km_snackys_search{
	position: absolute;
	top: calc(100% + .5rem);
	background: var(--dro-b);
	color: var(--dro-t);
	padding: 2rem;
	border-radius: .5rem;
	z-index: 11;
	box-shadow: 0 16px 16px rgba(0,0,0,.1);
	max-height: 60vh;
	overflow: auto;
}
#km_snackys_search a{
	color: var(--dro-l);
}
#km_snackys_search a:hover{
	color: var(--dro-l-h);
}
#km_snackys_search .img-ct{
	width: 3rem;
	min-width: 3rem;
	margin-right: .75rem;
}
#km_snackys_search .img-ct,
#km_snackys_search img{
	border-radius: .3rem;
}
@media screen and (min-width: 768px){
	#km_snackys_search{
		min-width: 25rem;
	}
}
@media screen and (max-width: 767px){
	#km_snackys_search{
		left: 0;
		right: 0;
	}	
}
@media screen and (max-width: 399px){
	#km_snackys_search .img-ct{
		width: 2rem;
		min-width: 2rem;
		margin-right: .5rem;
	}	
}