.p-c,
.p-c .form-basket{
	position: relative;
    display: flex;
    flex-direction: column;
}
.p-c{
    height: 100%;
    width: 100%;
}
.p-c .form-basket{
    position: static;
    margin-top: auto;
}
.p-c .price{
    font-size: 1.4rem;
    color: @brand;
    white-space: normal;
}
.p-c .footnote-reference{
    font-weight: 400;
    font-size: 0.75em;
    position: relative;
    top: -0.35em;
    left: -0.2em;
}
.p-c strong.price .old-price{
	color: @defaulttext;
	font-weight: 400;
}
.p-c .rating{
    margin: .3rem 0;
}
.p-c br{
    display: none;
}
.product-border .p-c .img-w .img-ct, 
.product-border .sc-w .img-ct{
	border: 1px solid #eee;
	overflow: hidden;
}
.ov-t{
    position: absolute;
    left: 0;
    bottom: 2rem;
    background: #eee;
    padding: .4rem .6rem;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    color: @backgroundtext;
    background: @darkbg;
}
.ov-t.ov-t-7,
.ov-t.ov-t-2,
.ov-t.ov-t-sp{
    background: @danger;
}
.ov-t.ov-t-4,
.ov-t.ov-t-6{
    background: @success;
}
.ov-t.ov-t-1,
.ov-t.ov-t-5,
.ov-t.ov-t-8,
.ov-t.ov-t-9{
	background: @info;
}
.ov-t.ov-t-3{
	background: @warning;
}
#product-offer .price_label,
.p-c .price_label{
    font-size: .85rem;
    display: inline-flex;
}
.p-c .delivery-status{
    z-index: 3;
}
.p-c .signal_image{
    color: @defaulttext;
}
.p-c .caption{
    position: relative;
    z-index: 3;
}
.p-c .updatingStockInfo{
    display: none;
}
.second-img {
    opacity: 0; transition: .3s ease;
}
.second-img img {
    background: white
}
a:hover .second-img {
    opacity: 1;
}
body.ie .second-img,
body.edge .second-img{
    display: none;
}
body.ie a:hover .second-img,
body.edge a:hover .second-img{
    display: block;
}
/* Sale Countdown */
.sale-ct{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: .4rem .3rem;
    border-radius: 0 0 .8rem .8rem;
    color: @defaulttext;
}
.sale-ct .ct-un{
    font-size: .6rem;
}
.sale-ct .ct-wp{
    padding: 0 .2rem;
}
.sale-ct ~ .ov-t{
    bottom: 4rem;
}
.ov-t ~ .ov-t{
    bottom: 4.2rem;
}
.ov-t.ov-t-sp{
    text-transform: none;
    letter-spacing: 0;
}
@media screen and (max-width: 767px){
    .p-c .price{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 450px){
    .ov-t{
        bottom: 1.5rem;
        font-size: .7rem;
    }
    .ov-t.ov-t-sp{
        font-size: .7rem;
    }
    .ov-t~.ov-t {
        bottom: 3.5rem;
    }
}