.p-sl{
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	pointer-events: none;
    padding: 1rem 0;
}
.p-sl .p-w{
	pointer-events: auto;
}
.p-sl .p-w:first-child{
	scroll-snap-align: start;
}
.p-sl .p-w:last-child{
	scroll-snap-align: end;
}
.panel-slider .ar-ct{
	display: none;
}
.panel-slider .sl-ar{
    background: @lightfocusbg;
}
.panel-slider .sl-ar:not(.inactive):hover{
    background: #bbb;
}
.panel-slider .sl-ar,
#gallery .sl-ar{
    height: 1.1rem;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
}
.panel-slider .right{
    display: flex;
    white-space: nowrap;
    margin-left: auto;
}
.panel-slider .btn-group.ar-ct{
    margin: 0;
}
.panel-slider .right .btn-primary{
    margin-left: .5rem;
}
.panel-slider .panel-heading .ar-ct .sl-nx,
#gallery .sl-pr{
    border-radius: 0 2rem 2rem 0;
    padding-left: .8rem;
}
.panel-slider .panel-heading .ar-ct .sl-pr,
#gallery .sl-nx{
    border-radius: 2rem 0 0 2rem;
    padding-right: .8rem;
}
.sl-ar.inactive{
	opacity: .5;
	cursor: not-allowed;
}
@media screen and (min-width: 1600px){
    #freegift .col-6,
    #p-l .p-w,
	#sp-l.show-above > .inside > section,
	.p-sl .p-w,
	.ar-ct-m .ar-ct,
    .sc-w .col-6{
        width: calc(100% / @listElmXl);
        min-width: calc(100% / @listElmXl);
    }
	.p-sl .p-w:nth-child(@listElmXln + 1){
		scroll-snap-align: start;
	}
	.panel-slider .ar-ct.show-xl{
		display: flex;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1599px){
    #freegift .col-6,
    #p-l .p-w,
	#sp-l.show-above > .inside > section,
	.p-sl .p-w,
	.ar-ct-m .ar-ct,
    .sc-w .col-6{
        width: calc(100% / @listElmLg);
        min-width: calc(100% / @listElmLg);
    }
	.p-sl .p-w:nth-child(@listElmLgn + 1){
		scroll-snap-align: start;
	}
	.panel-slider .ar-ct.show-lg{
		display: flex;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    #freegift .col-6,
    #p-l .p-w,
	#sp-l.show-above > .inside > section,
	.p-sl .p-w,
	.ar-ct-m .ar-ct,
    .sc-w .col-6{
        width: calc(100% / @listElmMd);
        min-width: calc(100% / @listElmMd);
    }
	.p-sl .p-w:nth-child(@listElmMdn + 1){
		scroll-snap-align: start;
	}
	.panel-slider .ar-ct.show-md{
		display: flex;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #freegift .col-6,
    #p-l .p-w,
	.p-sl .p-w,
	.ar-ct-m .ar-ct,
    .sc-w .col-6{
        width: calc(100% / @listElmSm);
        min-width: calc(100% / @listElmSm);
    }
	.p-sl .p-w:nth-child(@listElmSmn + 1){
		scroll-snap-align: start;
	}
	.panel-slider .ar-ct.show-sm{
		display: flex;
	}
}
@media screen and (max-width: 768px){
    #freegift .col-6,
    #p-l .p-w,
	.p-sl .p-w,
	.ar-ct-m .ar-ct,
    .sc-w .col-6{
        width: calc(100% / @listElmXs);
        min-width: calc(100% / @listElmXs);
    }
	.p-sl .p-w:nth-child(@listElmXsn + 1){
		scroll-snap-align: start;
	}
	.panel-slider .ar-ct.show-xs{
		display: flex;
	} 
    .ar-ct-m{
        padding: 0;
    }
}

/* Productslider in Box */
.b-sl .p-sl .p-w{
	width: 100%;
	min-width: 100%;
	scroll-snap-align: start;
}
.b-sl .ar-ct-m .ar-ct{
	width: 100%;
	min-width: 100%;
}
.b-sl .ar-ct-m .ar-ct .sl-nx{
	left: 100%;
}
.b-sl .ar-ct{
	display: block;
}
.b-sl .title{
	font-size: 1rem;
}
.b-sl .price-note{
	font-size: .8rem;
}