#content a.title{
    color: var(--bod-s);
}
#content a.title:hover{
    text-decoration: underline;
}
.tdu, .td-u{
    text-decoration: underline;
}
.status-0,
.text-danger{
    color: var(--txt-da);
}
.status-1,
.text-warning{
    color: var(--txt-wa);
}
.status-2,
.text-success{
    color: var(--txt-su);
}
.text-info{
    color: var(--txt-in);
}