/* 404 */
.error404 #bc-w,
.error404 #alert-list{
    display: none;
}
.error404 #footer{
	margin: 0;
}
.error404 #content-wrapper{
	padding: 0;
	max-width: none;
	margin: 0;
	overflow: hidden;
}
#pnf{
	min-height: 60vh;
	position: relative;
    padding: 2rem;
}
#pnf h1.xl{
	font-size: 9rem;
}
#pnf h1.lg{
	font-size: 5rem;
}
#pnf p{
    font-size: 1.3rem;
}
#pnf h1,
#pnf h2,
#pnf p{
	color: white;
}
#pnf .btn:first-letter{
	text-transform: uppercase;
}
#pnf .btn{
	padding-left: 2rem;
	padding-right: 2rem;
}
@media screen and (max-width: 991px){
    #pnf h1.xl{
        font-size: 7rem;
    }
    #pnf h1.lg{
        font-size: 3rem;
    }
    #pnf p{
        font-size: 1.1rem;
    }   
}
@media screen and (max-width: 767px){
    #shop-nav{
        margin-bottom: 0;
    }
}