.ctr{
    margin-left: auto;    
    padding-left: .5rem;
    color: @brand;
}
.ic-bd{
    background: @defaultborder;
}
.box .noUi-target{
    background: @lightfocusbg;
}
html:not([dir=rtl]) .box .noUi-horizontal .noUi-handle {
    box-shadow: inset 0 0 0 1px @defaultborder;
}
.box .noUi-connect{
    background: @brand;
    @gradientbrand;    
}
.box-jtl-search .badge{
    color: @brand;
}
#sp-l .jslider-pointer{
    background: @brand;
}
.box-categories .active > a{
    color: @brand;
    font-weight: bold;
}