.ctr{
    margin-left: auto;    
    padding-left: .5rem;
    color: var(--brand);
}
/* Rating Stars */
.nav-it .rating{
    width: 100%;
}
.ic-bd{
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    padding: 0.4rem;
    background: var(--btn-df-b);
    border: 1px solid var(--btn-df-r);
}
.ic-bd svg{
    fill: var(--btn-df-t);
}
.box .p-sl{
    padding: 0;
}
.box .ic-lg{
    min-width: 2rem;
    border-radius: .3rem;
}
.box .remove{
    padding-left: .5rem;
    opacity: .5;
    margin-left: auto;
}
#sp-l .box .open>.dropdown-menu{
    padding: 0;
    position: static;
    box-shadow: none;
    background: none;
    border: 0;
    margin-top: 1rem;
}
.box.panel-slider .img-w:hover .img-ct {
    box-shadow: none;
    transform: none;
    border-radius: 0;
}
/* Range Slider */
.box .noUi-connect{
    background: var(--brand);
}
#price-slider-box:not(.noUi-target),
#price-slider-box:not(.noUi-target) + .unit{
    height: 20px;
}
.box .noUi-target{
    height: 20px;
    border: 0;
    box-shadow: none;
    margin: 0 10px 4px 10px;
    border-radius: 3rem;
    background: #ddd;
}
html:not([dir=rtl]) .box .noUi-horizontal .noUi-origin{
    height: 100%;
}
html:not([dir=rtl]) .box .noUi-horizontal .noUi-handle {
    left: 0;
    width: 100%;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: white;
    box-shadow: inset 0 0 0 1px #ddd;
    top: 0;
    cursor: pointer;
}
.box .noUi-handle:before,
.box .noUi-handle:after{
    display: none;
}
.box .noUi-handle{
    transform: translateX(50%);
}
.box .rng{
    padding: 0;
    background: none;
    border: 0;
    font-size: .85rem;
}
.box .unit{
    margin: 0 4px;
}
.box .unit .add{
    line-height: normal;
    padding-top: 0.15rem;
    white-space: nowrap;
}
.box-categories .active > a{
    font-weight: bold;
}
/* JTL Search */
.box-jtl-search > hr{
    display: none;
}
.box-jtl-search .fa{
    position: relative;
}
.box-jtl-search .filter-item{
    display: flex;
    align-items: center;
    padding: .2rem 0;
}
.box-jtl-search .d-flex{
    display: flex;
    width: 100%;
    align-items: center;
}
.box-jtl-search .badge{
    padding: 0;
    width: auto;
    height: auto;
    background: none;
    line-height: normal;
    font-weight: 400;
    margin-left: auto;
    color: var(--brand);
}
.box-jtl-search .layout-slider table{
    margin: 0;
}
.box-jtl-search .filter-item:before,
.box-jtl-search .filter-item:after{
    display: none;
}
#sp-l .box-jtl-search .panel-body{
    overflow: visible;
}
#sp-l .jslider .jslider-value{
    background: transparent;
    transform: translateY(-6px);
}
#sp-l .jslider-pointer{
    border-radius: 50%;
    background: var(--brand);
}
#sp-l .jslider-bg i{
    background: #ddd;
}
@media screen and (max-width: 991px){
    .box .noUi-target,
    html:not([dir=rtl]) .box .noUi-horizontal .noUi-handle{
        height: 24px;
    }
}