@media screen and (min-width: 768px){
	#cat-w{
		background: white;
		border-bottom: 1px solid @lightborder;
	}
	#cat-w .mm-mainlink{
		color: @defaulttext;
	}
	#cat-w .mm-mainlink:hover, 
	#cat-w .active > .mm-mainlink{
		background: none;
		color: @brand;
	}
	#cat-w svg{
		fill: @defaulttext;
	}
	#cat-w li.active > .home-icon svg,
	#cat-w li:hover svg{
		fill: @brand;
	}
	#cat-w{
		border-top: 1px solid @lightborder;
	}
	#cat-w .mgm-c,
	#cat-w .dropdown-style > .dropdown-menu{
		border-top: 2px solid @brand;
	}
	li.dropdown-style > .dropdown-menu .dropdown-menu{
		top: calc(-1rem - 2px);
	}
}