@media screen and (min-width: 768px){
	.hdr-nav .img-ct.icon.icon-xl{
		width: 1.5rem;
	}
	.hdr-nav .badge {
		top: -.425rem;
		right: -.425rem;
		line-height: 1.15rem;
		font-size: .75rem;
		min-width: 1.15rem;
		padding: 0 .05rem;
	}
	body #shop-nav #search.header-shop-menu{
		padding: 0 1.25rem;
		flex-grow: 1;
		width: auto;
		order: 0;
	}
	body #shop-nav #logo{
		height: 34px;
		max-width: 5rem;
		width: auto;
	}
	#logo a{
		height: 100%;
		max-width: 100%;
	}
	#logo img{
		max-height: 34px;
	}
	#shop-nav > .mw-container{
		flex-wrap: nowrap;
	}
	#shop-nav > .mw-container > div:last-child{
		width: auto;
	}
	#cat-w .blanklist{
		justify-content: flex-start;
	}
	#cat-w .mm-mainlink{
		padding: 1rem .5rem;
		font-size: 1rem;
		font-weight: 400;
		height: 3.475rem;
	}
	#cat-w li.is-lth{
		display: none;
	}
	#shop-nav{
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 10;
	}
	.mgm .caret{
		margin-left: .25rem;
		border-width: 3px;
	}
	#search input{
		padding: .5rem 3.125rem .5rem 1rem;
	}
	#bc-w.small{
		padding-top: .6rem;
		padding-bottom: .6rem;
		font-size: .85rem;
	}
	#logo span.h2{
		font-size: 1rem;
		height: 100%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
	#shop-nav #logo{
		height: auto;
		padding: .5rem 0;
	}
	#cat-w .mm-mainlink{
		padding: .75rem .5rem;
		height: 2.83rem;
		font-size: .9rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1600px){
	#shop-nav .hdr-nav .img-ct.icon.icon-xl{
		width: 1.5rem;
	}
}
@media screen and (max-width: 1199px) and (min-width: 768px){
	#shop-nav #search>.inside {
		left: 1rem;
		right: 1rem;
	}
}