#km-fw{
	height: 100vh;
	position: relative;
}
#km-fw #top-bar-wrapper{
    z-index: 3;
    position: relative;
}
#km-fw #header-promo,
#km-fw #shop-nav{
	z-index: 4;
	position: relative;
}
#km-fw #top-bar-wrapper{
	background: white;
}
/* Fullscreen Slider */
#km-fw .sl-w,
#km-fw .banner,
#km-fw .video-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	margin: 0;
	overflow: hidden;
}
#km-fw .banner img{
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}
#km-fw video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#km-fw .fw-sl,
#km-fw .slide,
#km-fw .img-ct:not(.icon){
	height: 100%;
}
#km-fw .sl-w .img-ct:before{
	display: none;
}
#km-fw .banner .img-ct{
    height: auto;
}
#km-fw .banner > img{
	border-radius: 0;
}
@media screen and (min-width: 768px){
	.shw-sb #mob-nt{
		display: none;
	}
	#cat-w .mm-mainlink{
		height: auto;
	}
}
@media screen and (max-width: 767px){
	#km-fw #shop-nav{
		position: relative;
	}
}