/* Wrapper */
#shop-nav{
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
#shop-nav > .mw-container > div{
    padding: 0;
}
/* Search */
#search form{
    max-width: 25rem;
	position: relative;
}
#search input{
    border: 0;
    padding: 1rem 3.125rem 1rem 1rem;
    border-radius: .5rem;
    background: @lightbg;
}
#search input:focus{
    background: @lightfocusbg;
}
#search-submit-button{
    border: 0;
    height: 100%;
    padding: 0 1rem;
    background: none;
	position: absolute;
	right: 0;
    z-index: 2;
}
/* Logo */
#logo{
    height: 60px;
}
#logo a{
    max-width: 90%;
}
#logo img{
    max-height: 60px;
    width: 100%;
	height: 100%;
    margin: auto;
    object-fit: contain;
}
#logo .visible-xs{
	display: none;
}
/* Shop-Nav */
.hdr-nav > div{
	position: relative;
}
.hdr-nav > div:not(:first-child){
	margin-left: .75rem;
}
.hdr-nav .badge{
    position: absolute;
    top: -.5rem;
    right: -.5rem;
}
/* Nav Toggle */
#mob-nt{
	width: 1.8rem;
	height: 1.8rem;
	position: relative;
	cursor: pointer;
}
.burger-line{
	width: 100%;
	height: .15rem;
	background: @defaulttext;
	position: absolute;
	border-radius: .2rem;
	top: .2rem
}
.burger-line.last{
	top: auto;
	bottom: .2rem;
}
.burger-line.middle{
	top: calc(50% - .075rem);
}
#cat-w .fa-caret-down.visible-xs{
	display: none;
}
@media screen and (max-width: 1400px){
	#shop-nav .icon-xl{
		width: 2.3rem
	}
}
@media screen and (max-width: 991px){  
    header .badge{
        font-size: .85rem;
        line-height: 1.25rem;
        min-width: 1.25rem;
        padding: 0 .25rem;
    }
	.hdr-nav > div:not(:first-child){
		margin-left: .5rem;
	}
}
@media screen and (max-width: 767px){
    #search{
        order: 1;
        margin-top: .5rem;
        display: none;
    }
    #sr-tg-m{
        position: absolute;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        left: 2.75rem;
        transition: .5s ease;
		top: 0;
    }
    #sr-tg-m .img-ct{
        width: 1.6rem;
        min-width: 1.6rem;
    }
    #sr-tg-m .close{
        width: 0;
        position: static;
		margin: 0;
        transform: scale(0);
        opacity: 0;
        pointer-events: none;
    }
	#logo .visible-xs{
		display: inline-block;
	}
	#logo .hidden-xs{
		display: none;
	}
	#logo{
		height: 40px;
	}
	#logo img{
		max-height: 40px;
	}
	#shop-nav{
		padding-top: .6rem;
		padding-bottom: .6rem;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background: #fff;
		z-index: 10;
		border-bottom: 1px solid @lightborder;
        margin-bottom: 1.5rem;
	}
    [data-page="1"] #shop-nav,
    [data-page="2"] #shop-nav,
    [data-page="11"] #shop-nav,
    [data-page="18"] #shop-nav{
        margin-bottom: 0;
    }
	#shop-nav .icon-xl{
		width: 1.8rem;
	}
    #cat-w .icon{
        width: 1.2rem;
        height: 1.2rem;
    }
}