#cat-w{
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    background: @brand;
    @gradientbrand;
}
#cat-w > .mw-container{
	margin-top: 0;
	margin-bottom: 0;
}
#cat-w .blanklist{
	position: static;
}
#cat-w .mm-mainlink{
    font-size: 1.1rem;
    padding: .7rem 1.25rem;
    font-weight: 600;
    display: block;
    transition: .3s ease;
    white-space: nowrap;
    color: @backgroundtext;
	cursor: pointer;
}
#cat-w li.active .mm-mainlink{
    background: rgba(255,255,255,.2);
}
#cat-w li:hover > .mm-mainlink{
	background: rgba(255,255,255,.4);
}
#cat-w .info-col .img-ct{
	margin-bottom: 1.25rem;
}
#cat-w .defaultlink.title{
	margin: .7rem 0 0 0;
}
#cat-w .subsub{
	margin-top: .4rem;
}
#cat-w .subsub li:before{
    content: '\203A';
    position: absolute;
    left: 0;
}
#cat-w .subsub li{
    padding-left: .5rem;
    position: relative;
    margin: .2rem 0;
}

.mgm .img-ct:hover{
	box-shadow: 0 0 17px 0 rgba(0,0,0,0.2)
}
.mgm .dropdown-menu{
    right: 0;
	left: 0;
    border: 0;
	top: auto;
    border-radius: 0;
    overflow: auto;
    margin: 0;
    padding: 0 0 2rem 0;
    box-shadow: none;
    background: none;
    display: block;
    transform: translateY(-2000%);
    transition-delay: .1s;
	overscroll-behavior: contain;
    min-width: 0;
}
.mgm .mgm-fw:hover .dropdown-menu,
.mgm .dropdown-multi:hover .dropdown-menu{
    transform: translateY(0);
    transition-delay: .3s;
}
.mgm-c .row.dpflex-a-start{
    flex-wrap: nowrap;
}
.mgm .mgm-c{ 
    background: white;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    transform: translateY(-100%);
    opacity: 0;
    transition: .1s ease;
	max-height: 60vh;
	overflow: auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
    border-radius: 0 0 1rem 1rem;
}

.mega-categories .img-ct{
    transition: .3s ease;
}
.mega-categories a:hover > .img-ct{
    box-shadow: 0 16px 16px rgba(0,0,0,.1);
    transform: translateY(-4px);
}

.mgm .mgm-fw:hover .mgm-c,
.mgm .dropdown-multi:hover .mgm-c{
    transform: translateY(0);
    opacity: 1;
    transition: .3s ease;
	transition-delay: .3s;
}
.mgm .home-icon svg{
	width: 1.2rem;
	height: 1.2rem;
	position: relative;
	top: .1rem;
	fill: white;
	transition: .3s ease;
}
.mgm:not(.has-images) .row-multi{
	margin-top: 0;
	margin-bottom: 0;
}
.mgm:not(.has-images) .row-multi > [class*="col-"]{
	padding-top: 7px;
	padding-bottom: 7px;
}
#cat-w .mgm:not(.has-images) .defaultlink.title{
	margin: 0;
}
#cat-w .active > .defaultlink{
	color: @brand;
}
.mega-categories{
	align-items: flex-start;
}
#cat-w .home-icon + .visible-xs,
#cat-w .menu-title{
	display: none;
}
.mm-manu .img-ct{
	border: 1px solid @lightborder;
}
.mm-manu img{
    transform: scale(.9);
}
@media screen and (min-width: 768px){
    #cls-catw{
        display: none;
    }
	/*Megamenü Dropdown Style*/
	[id*="mm-dropdown"] .dropdown-link{
		padding: 0.4rem 1.5rem;
		background: none;
		font-size: 1rem;
		display: flex;
		justify-content: space-between;
		white-space: normal;
        align-items: center;
	}
	[id*="mm-dropdown"] .dropdown-menu{
		left: 0;
	}
	[id*="mm-dropdown"] .active > .dropdown-link,
	[id*="mm-dropdown"] li:hover > .dropdown-link{
		color: @brand;
		background: @lightbg;
	}
	[id*="mm-dropdown"] li{
		position: relative;
	}
	[id*="mm-dropdown"] .dropdown-menu{
		background: white;
		padding: 1rem 0;
		min-width: 12rem;
		max-width: 20rem;
		overflow: visible;
		box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
		max-height: none;
		border-bottom-left-radius: .3rem;
		border-bottom-right-radius: .3rem;
		right: auto;
	}
	[id*="mm-dropdown"] .dropdown-menu > li > .dropdown-menu{
		border-radius: .3rem;
	}
	[id*="mm-dropdown"] .dropdown-menu .dropdown-menu{
		display: none;
		left: 100%;
		top: -1rem;
	}
	[id*="mm-dropdown"] li:hover > .dropdown-menu{
		display: block;
	}
	.dropdown-style[id*="mm-dropdown"]{
		position: relative;
	}
	.dropdown-style .mgm-fw .ar{
		border-width: 0 1px 1px 0;
	}
	#cat-w #mm-dropdown  .items-twocol,
	#cat-w #mm-dropdown  .items-threecol{
		width: 25rem;
		display: flex;
		flex-wrap: wrap;
	}
	#cat-w .items-threecol{
		width: 30rem;
		max-width: none;
	}
	#cat-w .items-twocol > li{
		width: 50%;
	}
	#cat-w .items-threecol > li{
		width: 33.33%;
	}
}

@media screen and (min-width: 1600px){
	#cat-w .info-col{
		width: 16.66%;
	}
	#cat-w .row-multi.hasInfoColumn{
		width: 83.33%;
	}
	#cat-w .row-multi.hasInfoColumn > .col-lg-3{
		width: 20%;
	}
	#cat-w .row-multi > .col-lg-3{
		width: 16.66%;
	}
}
@media screen and (max-width: 1400px) and (min-width: 768px){
	#cat-w .mm-mainlink{
		font-size: 1.1rem;
		padding: 0.6rem 1rem;
	}
	.mgm .home-icon svg{
		width: 1rem;
		height: 1rem;
	}
}
@media (max-width: 1199px) and (min-width: 768px){
	.mgm .mgm-c{
		padding: 2rem;
	}
	#cat-w .mm-mainlink{
		font-size: 1rem;
		padding: 0.6rem .8rem;
	}
	.mgm .home-icon svg{
		width: .8rem;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	#cat-w .row-multi{
	}
	#cat-w .mm-mainlink{
		padding: 0.6rem .6rem;
	}
}
@media screen and (max-width: 767px){
    #cat-w{
        z-index: 11;
    }
    #cat-w .blanklist{
        position: relative;
    }
	.fullscreen-title{
		display: none;
	}
	#cat-w{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 20rem;
		background: white;
		transform: translateX(-120%);
		transition: transform .3s ease;
		display: block;
	}
	.shw-sb #cat-w{
		transform: none;
	}
	#cat-w .mm-mainlink,
	#cat-w a{
		color: @defaulttext;
		font-size: 1rem;
		position: relative;
		padding: .7rem 2.5rem .7rem 1.25rem;
		white-space: normal;
		font-weight: 600;
		line-height: 1.1;
		display: block;
	}
	#cat-w .active > .mm-mainlink, 
	#cat-w .active > a{
		color: @brand
	}
	#cat-w .mm-mainlink .fa-caret-down.visible-xs,
	#cat-w .fa-caret-down.visible-xs{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 2.5rem;
		display: block;
		display: flex;
		align-items: center;
		background: none;
	}
	#cat-w .fa-caret-down.visible-xs .ar-l,
	#cat-w .fa-caret-down.visible-xs .title{
		display: none;
	}
	#cat-w > .mw-container,
	#cat-w > .mw-container > .blanklist,
	#cat-w .subsub{
		padding: 0;
		height: 100%;
		align-content: flex-start;
	}
    #cat-w>.mw-container>.blanklist{
        top: 5rem;
        height: calc(100% - 5rem);
        padding-bottom: 4rem;
    }
	#cat-w li{
		width: 100%;
	}
	#cat-w .row{
		margin: 0;
		height: 100%;
		align-content: flex-start;
	}
	#cat-w .row > div{
		padding: 0;
	}
	.mgm .dropdown-menu,
	#cat-w .subsub{
		top: 0;
		bottom: 0;
		padding: 0;
		left: 0;
		right: 0;
		max-height: none;
		position: absolute;
		margin: 0;
		background: white;
		z-index: 2;
	}
    #cat-w .subsub{
        
    }
	.mgm .mgm-c{
		height: 100%;
		max-height: none;
		padding: 0;
		margin: 0;
	}
	#cat-w li,
	#cat-w .row > div{
		border-bottom: 1px solid @lightborder;
		position: static;
		box-shadow: none;
	}
	#cat-w .hidden-xs{
		display: none;
	}
	#cat-w .defaultlink.title{
		margin: 0;
	}
	#cat-w .home-icon + .visible-xs{
		display: block;
	}
	#cat-w .mgm-c{
		transform: none;
		opacity: 1;
	}
	#cat-w .dropdown-menu,
	#cat-w .subsub{
		transform: translateX(-100%);
		transition: .3s ease;
	}
	#cat-w .menu-title{
		position: absolute;
		top: 0;
		left: 0;
		height: 5rem;
		right: 0;
		padding: 0 1.25rem;
		display: flex;
        
	}
	#cat-w .open > .dropdown-menu,
	#cat-w .open > .subsub,
	#cat-w .open > .row > .row .col-12 > .subsub{
		transform: none;
		max-height: 100%;
		overflow: auto;
	}
	#cat-w .open > .mm-mainlink,
	#cat-w .open > .defaultlink.title{
		position: static;
	}
	#cat-w .mgm .open > a .fa-caret-down,
	#cat-w .mgm .open > span .fa-caret-down,
	#cat-w .mgm-c.open > .row > .row .col-12 > a .fa-caret-down,
	#cat-w .mgm-c.open > .row > .row .col-12 > span .fa-caret-down{
		position: fixed;
		top: 0;
		height: 5rem;
		bottom: auto;
		left: 0;
		right: auto;
		background: white;
		padding-left: 1.25rem;
		width: 16rem;
		
		background: white;
	}
	#cat-w .mgm .open > a .fa-caret-down.visible-xs .ar-l,
	#cat-w .mgm .open > a .fa-caret-down.visible-xs .title,
	#cat-w .mgm .open > span .fa-caret-down.visible-xs .ar-l,
	#cat-w .mgm .open > span .fa-caret-down.visible-xs .title,
	#cat-w .mgm-c.open > .row > .row .col-12 > a .fa-caret-down.visible-xs .ar-l,
	#cat-w .mgm-c.open > .row > .row .col-12 > a .fa-caret-down.visible-xs .title,
	#cat-w .mgm-c.open > .row > .row .col-12 > span .fa-caret-down.visible-xs .ar-l,
	#cat-w .mgm-c.open > .row > .row .col-12 > span .fa-caret-down.visible-xs .title{
		display: inline-block;
		margin-right: .5rem;
	}
	#cat-w .mgm .open > a .fa-caret-down.visible-xs .ar-r,
	#cat-w .mgm .open > span .fa-caret-down.visible-xs .ar-r,
	#cat-w .mgm-c.open > .row > .row .col-12 > a .fa-caret-down.visible-xs .ar-r,
	#cat-w .mgm-c.open > .row > .row .col-12 > span .fa-caret-down.visible-xs .ar-r{
		display: none;
	}
	#cat-w .ar{
		display: inline-block;
		margin-left: .75rem;
	}
	#cat-w .open > .mm-mainlink > .fa-caret-down > .ar{
		margin-left: 0;
	}
	.mgm .dropdown-menu{
		overflow: visible;
	}
	#cat-w .mgm .home-icon svg{
		fill: @defaulttext;
	}
	#cat-w .mgm .active > .home-icon svg{
		fill: @brand;
	}
	#cat-w .ar.hidden-xs{
		display: none;
	}
	.shw-sb .mgm > ul.blanklist{
		overflow: auto; 
	}
	.shw-sb .mgm > ul.blanklist.noov{
		overflow: inherit; 
	}
	.noov{
		overflow: inherit !important;
	}
    #cat-w .title{
        color: @darktext;
    }
    #cat-w .subsub li:before{
        display: none;
    }
    #cat-w .title .ar-l{
        margin-left: 0;
    }
    #cat-w .subsub li{
        margin: 0;
        padding: 0;
    }
}