#top-bar-wrapper{
    border-bottom: 1px solid @lightborder;
}
#top-bar{
    padding-top: .6rem;
    padding-bottom: .6rem;
}
#top-bar .social-icons{
	font-size: 50%;
    opacity: .8;
}
#top-bar .dropdown-menu-right{
	left: auto !important;
	transform: none !important;
	top: 100% !important;
}