#h-us{
	position: relative;
	z-index: 2;
	font-weight: 600;
	height: 2.32rem;
	background-color: var(--ben-b);
	color: var(--ben-t);
}
#h-us .css-check::before{
	color: var(--ben-i);
}
#h-us .row{
	padding-top: 0.6rem;
	padding-bottom: .6rem;	
}
#h-us span:first-child{
	padding-left: 0;
}
#h-us span:last-child{
	padding-right: 0;
}