#h-us{
	position: relative;
	z-index: 2;
	font-weight: 600;
	height: 2.32rem;
}
#h-us .row{
	padding-top: 0.6rem;
	padding-bottom: .6rem;	
}
#h-us span:first-child{
	padding-left: 0;
}
#h-us span:last-child{
	padding-right: 0;
}
/* Default */
#h-us:not(.th-l){
	background: @lightbg;
}
/* Light */
#h-us.th-l{
	border-bottom: 1px solid @lightborder;
}
/* Dark */
#h-us.th-d{
	background: @blackbg;
	color: white;
}