/*body,
.mgm .mgm-c,
.lightbox-shown .product-gallery,
.c-dp>.inside,
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input.quantity, select, textarea,
.dropdown-menu,
#gallery .zoom img{
    background-color: #eee;
}
#evo-nav-wrapper{
	background: @blackbg; 
}
#top-bar,
#top-bar-wrapper{
    background: @blackbg;
    color: @backgroundtext;
    border-color: @lighttext;
	border: 0;
}
#top-bar .dropdown-menu a:not(.btn),
#shop-nav .dropdown-menu a:not(.btn){
    color: @defaulttext;
}
#logo a *,
#logo *{
    color: @backgroundtext;
}
#shop-nav{
    background: @blackbg;
}
#shop-nav .hdr-nav .img-ct.icon img{
    filter: invert(100%);
}
#top-bar a{
    color: @backgroundtext;
}
#top-bar img{
    filter: invert(100%);
}
body:not([data-page="11"]) #footer{
    margin-bottom: 0;
    background: @blackbg;
    border-color: @darkbg;
}
body:not([data-page="11"]) #footer-boxes{
    border-color: @darkbg;
}
body:not([data-page="11"]) #footer *{
    color: @backgroundtext;
}
body:not([data-page="11"]) #footer a:not(.btn-social),
body:not([data-page="11"]) #footer-boxes a:not(.btn){
    color: @backgroundtext;
    opacity: .8;
    transition: .3s ease;
}
body:not([data-page="11"]) #footer-boxes a:not(.btn):hover,
body:not([data-page="11"]) #footer a:hover{
    color: @brand;
    opacity: 1;
}
body[data-page="11"] #shop-nav{
    background: transparent;
}
.hamburger span:before, .hamburger span:after{
    background: #ccc;
}
#sr-tg-m .close{
    color: #ccc;
}
#footer .panel.box h5:after,
#footer .language-dropdown img{
    filter: invert(100%);
}
#top-bar .img-ct.loaded img,
.pr .img-ct.icon.loaded img{
	opacity: 1;
}*/
/*body,
.mgm .mgm-c,
.lightbox-shown .product-gallery,
.c-dp>.inside,
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"], 
input.quantity, 
select, 
textarea,
.dropdown-menu,
#gallery .zoom img{
	background: #eee;
}*/
/*
[data-page="11"] #shop-nav{
	margin-top: 0;
	margin-left: -15px;
	margin-right: -15px;
}
#sp-l .nav-list a:after{
	border-color: #eee;
}
body:not([data-page="11"]) header,
body:not([data-page="11"]) #footer,
li.dropdown-style .dropdown-menu,#top-bar-wrapper,
[data-page="11"] #shop-nav{
	background: @blackbg;
}
#top-bar .img-ct.loaded img, 
#footer .language-dropdown .img-ct.loaded img,
.pr .img-ct.icon.loaded img{
	opacity: .9;
}
body[data-headtype="4.5"] .cross span,
body[data-headtype="4.5"] .hamburger span:before, 
body[data-headtype="4.5"] .hamburger span:after,
body[data-headtype="4.5"] .sr-tg .close:before, 
body[data-headtype="4.5"] .sr-tg .close:after,
body[data-headtype="5.5"] .cross span,
body[data-headtype="5.5"] .hamburger span:before, 
body[data-headtype="5.5"] .hamburger span:after,
body[data-headtype="5.5"] .sr-tg .close:before, 
body[data-headtype="5.5"] .sr-tg .close:after,
body[data-headtype="6"] .cross span,
body[data-headtype="6"] .hamburger span:before, 
body[data-headtype="6"] .hamburger span:after,
body[data-headtype="6"] .sr-tg .close:before, 
body[data-headtype="6"] .sr-tg .close:after{
	background: white;	
}
body[data-headtype="4.5"] .mgm .home-icon svg,
body[data-headtype="5.5"] .mgm .home-icon svg{
	fill: white;
}
#top-bar a:not(:hover),
body:not([data-page="11"]) #footer h1, 
body:not([data-page="11"]) #footer .h1, 
body:not([data-page="11"]) #footer h2, 
body:not([data-page="11"]) #footer .h2, 
body:not([data-page="11"]) #footer h3, 
body:not([data-page="11"]) #footer .h3, 
body:not([data-page="11"]) #footer h4, 
body:not([data-page="11"]) #footer .h4, 
body:not([data-page="11"]) #footer h5, 
body:not([data-page="11"]) #footer .h5, 
body:not([data-page="11"]) #footer h6, 
body:not([data-page="11"]) #footer .h6, 
body:not([data-page="11"]) #footer a:not(:hover), 
body:not([data-page="11"]) #footer,
.sr-tg .close:before, 
.sr-tg .close:after,
li.dropdown-style .dropdown-menu a{
	color: #eee;
}
#footer a:not(.btn):hover,
#top-bar a:hover,
li.dropdown-style .dropdown-menu a:hover{
	color: @brand;
}
#top-bar-wrapper,
#footer-boxes,
#top-bar > .inside{
	border-color: #555;
}
#search input{
	background: #444;
	color: white;
}
li.dropdown-style .dropdown-menu a:hover{
	background: #444;
}
#search input:focus{
	background: #666;
}
body:not([data-headtype="0"]) #search .input-group-addon{
	background: #555;
}
#cat-w .mgm > ul > li > a:not(:hover), 
#cat-w .mgm > ul > li > span.no-link:not(:hover){
	color: #eee;
	background: none;
}
body[data-headtype="1"] #cat-w .mgm > ul > li > span.no-link:hover{
	color: @brand;
	background: none;
}
body[data-headtype="2"] #cat-w{
	background: rgba(0,0,0,.8);
}
body[data-headtype="2"] #cat-w>.mgm{
	border-color: #555
}
li.dropdown-style .ar{
	border-color: #eee;
}
@media screen and (min-width: 768px){
.burger-line{
	background: #eee;
}

	body[data-page="11"] #evo-nav-wrapper{
		margin-right: -15px;
		margin-left: -15px;
		margin-top: -15px;
		background: @blackbg;
	}
	body[data-page="11"] #evo-nav-wrapper > .container{
		padding: 15px 15px 0 15px;
	}
	body[data-page="18"][data-headtype="4"] header,
	body[data-page="18"][data-headtype="4.5"] header,
	body[data-page="18"][data-headtype="5"] header,
	body[data-page="18"][data-headtype="5.5"] header{
		background: none;
	}
	body[data-headtype="4"] #cat-w .mgm>ul>li>a:not(:hover), 
	body[data-headtype="4"]#cat-w .mgm>ul>li>span.no-link:not(:hover),
	body[data-headtype="4.5"] #cat-w .mgm>ul>li>a:not(:hover), 
	body[data-headtype="4.5"]#cat-w .mgm>ul>li>span.no-link:not(:hover),
	body[data-headtype="6"] #cat-w .mgm>ul>li>a:not(:hover), 
	body[data-headtype="6"]#cat-w .mgm>ul>li>span.no-link:not(:hover){
		color: #555;
	}
	.ar{
		border-color: #333;
	}
	#cat-w .mm-mainlink{
	color: white
}
}
@media screen and (max-width: 767px){
	#evo-nav-wrapper{
		background: @blackbg;
		border: 0;
	}
	.cross span,
	.hamburger span:before, 
	.hamburger span:after,
	#sr-tg-m .close:before, 
	#sr-tg-m .close:after{
		background: white;
	}
	#mobile-nav-toggle{
		opacity: .9;
	}
	body.shw-sb #cat-w{
		background: @blackbg;
		border-top: 1px solid #555;
	}
	#cat-w a:not(.hidden-xs), 
	#cat-w .mgm > ul > li > span.no-link, 
	#cat-w .mgm > ul > li > a:not(.hidden-xs){
		color: #eee;
	}
	#cat-w .fa-caret-down.visible-xs,
	#footer .panel.box h5:after{
		filter: invert(100%);
		opacity: 1;
	}
	body[data-page="11"] #evo-nav-wrapper{
		margin-right: -15px;
		margin-left: -15px;
	}
	body[data-page="11"] #evo-nav-wrapper > .container{
		padding: 0 15px;
	}
	body.shw-sb #cat-w>.container>.inside>.mgm,
	.mm-fullscreen>li{
		background: none;
	}
}*/