:root{
    --ben-b: #000;  
    --ben-t: #fff;
    --ben-i: var(--brand);
    --top-b: #333;
    --top-l: #fff;
    --top-l-h: var(--brand);
    --top-r: #111;
    --hed-b: #000;
    --hed-i: #fff;
    --hed-i-h: var(--brand);
    --ser-b: #333;
    --ser-b-h: #444;
    --ser-r: #333;
    --ser-t: #eee;
    --ser-i: #eee;
}