.shw-sb #consent-manager{
    display: none;
}
.consent-hidden{
    display: none !important;
}
.consent-no-space{
    margin: 0 !important;
}
.consent-btn{
    font-size: .8rem;
}
.consent-btn-helper{
    margin: -.25rem;
    display: flex;
    flex-wrap: wrap;
}
.consent-btn-helper > div{
    padding: 0 .25rem;
    width: 50%;
}
.consent-btn-helper > div > .consent-btn{
    flex-grow: 1;
}
.consent-accept{
    margin-bottom: .5rem;
}
.consent-btn-helper .consent-accept{
    width: 100%;
}
.consent-btn-block{
    width: 100%;
    justify-content: center;
}
.consent-btn-sm{
    padding: .5rem .9rem;
    font-size: 0.8rem;
}
.consent-btn-holder{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.consent-btn-holder > div:last-child{
    margin: 0 0 0 auto;
}
.consent-btn-holder > div:first-child{
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.consent-switch .consent-input{
    display: none;
}
.consent-switch .consent-input:checked ~ .consent-label::before{
    background: var(--csm-sw-b-h);
}
.consent-switch .consent-input:checked ~ .consent-label::after{
    left: 1.375rem;
}
.consent-switch .consent-label{
    padding-left: 3.5rem;
    display: inline-block;
    position: relative;
    margin-bottom: .25rem;
}
.consent-switch .consent-label::before,
.consent-switch .consent-label::after{
    content: "";
    float: left;
    margin-top: .125rem;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
    cursor: pointer;
}
.consent-switch .consent-label::before{
    background: var(--csm-sw-b);
    border-radius: 10rem;
    width: 2.5rem;
    height: 1.25rem;
}
.consent-switch .consent-label::after{
    border-radius: 50%;
    background: white;
    height: calc(1.25rem - .25rem);
    width: calc(1.25rem - .25rem);
    top: 0.125rem;
    left: 0.125rem;
}
.consent-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100001;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s;
    padding: 1rem;
}
.consent-modal:not(.show){
    opacity: 0;
    visibility: hidden;
}
.consent-modal:not(.active){
    display: none;
}
.consent-modal-content{
    margin: 2rem auto 0;
    max-width: 40rem;
    padding: 1rem;
    background: var(--csm-b);
    border-radius: 0.5rem;
    position: relative;
}
.consent-modal-close{
    border: 0;
    background: transparent;
    color: var(--csm-l);
    position: absolute;
    right: 0;
    top: 0;
    outline: 0;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s;
}
.consent-modal-close svg{
    width: 1.5rem;
    height: 1.5rem;
}
.consent-modal-close:hover{
    color: var(--csm-l-h);
}
.consent-modal-icon{
    display: none;
}
#consent-manager{
    @fontfamily;
    color: var(--csm-t);
    font-size: 0.8rem;
    position: fixed;
    z-index: 100000;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
}
#consent-manager p{
    margin: 0 0 1rem;
}
#consent-manager p:last-child{
    margin-bottom: 0;
}
#consent-manager img,
#consent-manager svg{
    vertical-align: baseline;
}
#consent-manager strong{
    font-weight: 600;
    color: var(--csm-tt);
}
#consent-manager ul{
    margin: 1rem 0;
    padding-left: 2em;
}
#consent-manager ul li{
    margin: 0;
}
#consent-manager:not(.active){
    display: none;
}
.consent-icon{
    display: inline-block;
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
}
.consent-help{
    color: var(--csm-t);
    font-size: .9em;
    margin-top: .5rem;
    display: block;
}
.consent-display-3,
.consent-display-2,
.consent-display-1{
    font-weight: 600;
    color: var(--csm-tt);
    margin-bottom: .5rem;
    display: block;
}
.consent-display-1{
    font-size: 1.25rem;
}
.consent-display-2{
    font-size: 1rem;
}
.consent-display-3{
    font-size: 0.85rem;
}
#consent-banner{
    border: 1px solid var(--csm-r);
    border-radius: .5rem;
    background: var(--csm-b);
    color: var(--csm-t);
    width: 100%;
    max-width: 75rem;
    margin: auto;
    transition: all .2s;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
#consent-manager a:not(.btn){
    color: var(--csm-l);
    text-decoration: underline;
}
#consent-manager a:not(.btn):hover{
    color: var(--csm-l-h);
}
:not(.fading) > #consent-banner{
    position: relative;
}
.mini > #consent-banner{
    display: none;
}
.fading > #consent-banner{
    transform: translateY(50%);
    opacity: 0;
}
.consent-banner-icon{
    display: none;
}
@media (min-width: 992px){
    .consent-banner-icon{
        left: 0;
        top: 50%;
    }
    .consent-banner-icon::before{
        width: calc(50% + 0.125rem);
        height: calc(100% + 0.125rem);
        left: 50%;
        top: -0.0625rem;
    }
}
.consent-banner-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.consent-banner-description{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.consent-banner-actions{
    margin-top: 1rem;
    width: 100%;
}
.consent-show-more{
    text-align: right;
    display: block;
    margin: 0;
}
.consent-more-description{
    background: var(--csm-b-l);
    padding: 1rem;
    border-radius: 0.125rem;
    margin-top: 1rem;
}
.consent-info{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0.0625rem solid var(--hr);
    border-radius: 0.125rem;
    padding: 0.5rem 1rem;
}
#consent-settings-btn{
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 100000;
    background: var(--btn-df-b);
    color: var(--btn-df-t);
    border-radius: 10rem;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    outline: 0;
    transition: all 0.2s;
    cursor: pointer;
    transition: all 0.2s;
}
#consent-settings-btn:hover,
#consent-settings-btn:focus{
    background: var(--btn-df-b-h);
    color: var(--btn-df-t-h);
}
:not(.mini) > #consent-settings-btn{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
}
#consent-settings-btn .consent-icon{
    margin: 0;
    width: 100%;
    height: 100%;
}
#consent-manager:not(.mini) ~ [id*="trustbadge-container"]{
    display: none;
}
#consent-banner-btn-all,
#consent-manager .consent-btn-tertiary{
    background: var(--csm-btn-a-b);
    border: 1px solid var(--csm-btn-a-r);
    color: var(--csm-btn-a-l);
}
#consent-banner-btn-all:hover,
#consent-manager .consent-btn-tertiary:hover{
    background: var(--csm-btn-a-b-h);
    border: 1px solid var(--csm-btn-a-r-h);
    color: var(--csm-btn-a-l-h);
}
#consent-banner-btn-close,
#consent-banner-btn-settings{
    background: var(--csm-btn-d-b);
    border: 1px solid var(--csm-btn-d-r);
    color: var(--csm-btn-d-l);
}
#consent-banner-btn-close:hover,
#consent-banner-btn-settings:hover{
    background: var(--csm-btn-d-b-h);
    border: 1px solid var(--csm-btn-d-r-h);
    color: var(--csm-btn-d-l-h);
}
@media (min-width: 768px){
    .consent-btn-holder{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }
    .consent-switch{
        padding-left: 3.5rem;
    }
    .consent-switch .consent-label{
        margin-left: -3.5rem;
        margin-bottom: 0;
    }
    .consent-modal-content{
        padding: 2rem;
    }
    .consent-modal-icon{
        margin-top: -2rem;
    }
    .consent-display-1{
        font-size: 1.5rem;
    }
    .consent-banner-body{
        flex-direction: row;
    }
    .consent-banner-actions{
        margin-top: 0;
        margin-left: 2rem;
        width: 16.875rem;
    }
    .consent-show-more{
        float: right;
    }
}
@media (max-width: 991px){
    @media screen and (min-width: 768px){
        .consent-btn-helper > div{
            width: 100%;
        }
        .consent-btn-helper > div > .consent-btn{
            width: 100%;
            display: block;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .consent-btn-helper > div:last-child{
            margin-top: .4rem;
        }
        .consent-accept{
            margin-bottom: .4rem;
        }
        .consent-btn-holder > div:last-child{
            margin: 1rem 0 0;
        }
    }
    .consent-show-more{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 0.8rem;
        margin: 1rem 0;
    }
    #consent-manager p{
        font-size: .8rem;
    }
}
@media screen and (max-width: 767px){
    #consent-manager{
        left: .5rem;
        right: .5rem;
    }
}