#select_shipping_address,
#ppp-modal,
#checkout .btn.hidden{
    display: none;
}
body:not(.no-pd){
    padding-right: 28rem;
}
#content-wrapper{
    margin-bottom: 3rem;
}
.mw-container{
    max-width: 1500px;
}
#shop-nav{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
/* Steps */
.c-stp {
    border-top: 1px solid @lightborder;
}
.c-stps.last .c-stp:last-child{
    border-bottom: 1px solid @lightborder;
}
.c-stp > .dpflex-a-c{
    transition: opacity .2s ease;
    opacity: .4;
    padding: 1.25rem 0;
}
.c-stp.active > .dpflex-a-c,
.c-stp a:hover{
    opacity: 1;
}
.c-stp.active a{
    pointer-events: none;
}
/* Anmelden/gast/reg */
#choose-way .step-box{
	font-weight: 600; 
	border: 1px solid @defaultborder;
	padding: 1.3rem 1rem;
	transition: .3s ease;
	cursor: pointer;
	flex-grow: 1;
	order: 1;
}
#choose-way .step-box:hover,
#choose-way .step-box.active{
    background: @defaultborder;
}
#choose-way .step-box.first{
	right: -1px;
    border-radius: .3rem 0 0 .3rem;
	order: 0;
}
#choose-way .step-box.last{
	left: -1px;
    border-radius: 0 .3rem .3rem 0;
	order: 2;
}
#choose-way .img-ct{
	width: 1.5rem;
	min-width: 1.5rem;
	margin-right: 1rem;
}
label[data-target="#create_account_data"]{
	opacity: 0;
	height: 0;
	overflow: hidden;
}
/* Zahlungs- und Versandarten */
.payship-option,
.payship-option.col-12,
#fieldset-payment #zahlung .list-group-item,
.checkout-payment-method{
    padding: 1rem 0;
    border-top: 1px solid @lightborder;
	border-bottom: 0 !important;
}
#fieldset-payment #zahlung .list-group-item:first-child{
    border-top: 0;
}
.payship-option label{
	font-weight: 400;
    display: flex;
    cursor: pointer;
}
.payship-option .stc-input,
#fieldset-payment #zahlung .list-group-item input[type="radio"],
.checkout-payment-method label:before{
	min-width: 16px;
    height: 16px;
	margin-right: 1rem;
}
.payship-option .icon{
	width: 3rem;
}
.payship-option .payship-img,
#fieldset-payment #zahlung img{
	margin-right: 1rem;
	min-width: 3rem;
}
.payship-option .badge,
#fieldset-payment #zahlung .badge{
	padding: .05rem .4rem;
	background: #999;
	border-radius: .3rem;
	color: white;
	margin-left: 0.2rem;
	font-size: 80%;
	position: relative;
	top: -.1rem;
}
.form-group > div:last-child > div{
    border-bottom: 1px solid @lightborder;
}
#fieldset-payment .card{
    margin: 1rem 0;
}
.checkout-payment-method .custom-control-label{
	margin: 0;
	cursor: pointer;
	position: relative;
	padding-left: calc(1rem + 16px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.checkout-payment-method .custom-control-label img{
	max-width: 6rem;
	margin-right: .8rem;
}
/* Amazon Pay */
#checkout .lpa-alternate-checkout-snippet{
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}
#checkout .lpa-alternate-checkout-snippet .panel-body{
	border-top: 1px solid @lightborder;
	padding: 1rem 0;
	padding-left: calc(14px + 1rem);
	position: relative;
}
#checkout .lpa-alternate-checkout-snippet .panel-body > div{
	padding: 0;
	width: 100%;
	font-size: .9rem;
}
#checkout .lpa-alternate-checkout-snippet .panel-body:before{
	content: '';
	width: 14px;
	margin-right: 1rem;
	display: block;
	height: 14px;
	box-sizing: border-box;
	position: absolute;
	top: calc(50% - 7px);
	left: 0;
}
#checkout .lpa-checkout-hint-button{
	padding: 0;
}
#checkout .lpa-checkout-hint-button .lpa-pay-button{
	text-align: left;
	margin: 0;
}
/* PayPal Zahlungsarten unter Payment wall */
#fieldset-payment #zahlung .list-group{
	padding: 0;
	margin: .5rem 0;
	list-style: none;
}
#fieldset-payment #zahlung .list-group-item label{
	margin: 0;
	font-weight: 400;
	position: relative;
	padding-left: 30px;
	display: block;
}
#fieldset-payment #zahlung img{
	width: 3rem;
}
#fieldset-payment #zahlung .text-muted{
	color: @defaulttext; 
}
#fieldset-payment #zahlung .badge{
	font-weight: 600;
	float: none;
}
#fieldset-payment #zahlung input[type="radio"]{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
    margin-top: 0;
}
#fieldset-payment #zahlung p{
	margin: 0;
}
/* Styled Controls */
label.stc-radio{
    cursor: pointer;
}
.stc-radio input[type="radio"],
.stc-checkbox input[type="checkbox"],
.checkout-payment-method input[type="radio"]{
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}
.stc-radio .stc-radio-btn,
.stc-checkbox .stc-checkbox-btn,
#checkout .lpa-alternate-checkout-snippet .panel-body:before,
.checkout-payment-method .custom-control > label:before{
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	background: white;
	border: 1px solid #ddd;
	border-radius: 50%;
	box-sizing: border-box;
}
.checkout-payment-method .custom-control > label:before{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.stc-checkbox .stc-checkbox-btn{
	border-radius: 3px;
}
.stc-radio input:checked + .stc-radio-btn,
#checkout .lpa-alternate-checkout-snippet .panel-body:hover:before,
.checkout-payment-method input:checked + label:before{
	border: 5px solid @brand;
}
.stc-checkbox input:checked + .stc-checkbox-btn{
	border-color: transparent;
	background: @brand;
}
.stc-checkbox input:checked + .stc-checkbox-btn:before{
    content: '';
    width: 4px;
    height: 9px;
    border: solid #f6f6f6;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 4px;
    position: absolute;
    min-width: 0;
    border-radius: 0;
    top: 0px;
}
#checkout .submit.btn-lg{
    float: none;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.c-it .price-block{
    margin-top: 0;
}
/* Kreditkarte */
#payment_creditcard .flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
}
#payment_creditcard label{
    padding: 0;
}
.card-primary{
    border: 2px solid @brand;
}
/* Gutscheine im Checkout */
#jtl_vouchers{
  width: 100%;
  padding: 0;
}
#jtl_vouchers .card-header{
    background: white;
    border-bottom: 1px solid @lightborder;
}
#jtl_vouchers .card{
  background: white;
}
#jtl_vouchers .card-header .h3{
  font-size: 1rem; 
  margin:0;
}
#jtl_vouchers .btn{
  margin-top: .5rem;
}
#jtl_vouchers .btn i{
  display: none;
}
#jtl_vouchers .card-body{
  font-size: .9rem;
}
#voucher-cloud-modal .form-row{
    display: flex;
    flex-wrap: wrap;
}
#voucher-cloud-modal .modal-title h3{
  font-size: 1rem;
  margin: .5rem 0 0 0;
}
#voucher-cloud-modal .col-md-12{
  padding: 0;
}
#voucher-cloud-modal .form-group{
  margin:0;
}
#voucher-cloud-modal .form-text{
  display: block;
  margin-top: .5rem;
}
#voucher-cloud-modal .modal-footer .btn{
  display: block;
  width: 100%;
  margin: 0;
}
#fieldset-payment div.h3{
    font-size: 1.2rem;
    margin: 1rem 0 0 0; 
}
/* PayPal Checkout */
.ppc-option-img .paypal-marks{
    width: auto !important;
}
.paypal-buttons-label-buynow{
    margin: 0 auto;
}
/* DHL Wunschpaket */
#jtl_pack_optionen{
    margin-top: 2rem;
}
#jtl_pack_optionen label{
    font-weight: 400;
}
#wunschpaket_options{
    border-top: 1px solid @lightborder;
    margin: .5rem 0;
    padding: 1.2rem 0;
}
#wunschpaket_options .button-label {
    border-top: 3px solid #d10d1e;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 2px 5px 0;
    cursor: pointer;
    color: #292929;
    background: #fecf3b;
    border-radius: .5rem;
}
#wunschpaket_options .dhl-wunschtag:checked+.button-label {
    background: #d10d1e;
    color: #efefef;
}
#jtl_pack_optionen + hr{
    display: none;
}
#jtl_pack_optionen .button-wrap{
    margin-bottom: 1rem;
}
#shipping-method .small + br{
    display: none;
}
#wunschpaket_options .col-xs-12{
    padding: 0;
}
#select_shipping_address ul{
    padding: 0;
    list-style: none;
}
#select_shipping_address.collapse-non-validate{
    margin-top: 3rem;
}
#select_shipping_address ul label{
    padding: .8rem 0;
    border-bottom: 1px solid @lightbg;
    cursor: pointer;
}
#select_shipping_address .storelocator{
    margin: 1rem 0 2rem 0;
}
#select_shipping_address[aria-expanded="true"]{
    display: block;
}
/* PayPal Credit Card */
#acdc_card .card_field{
	border: 1px solid @defaultborder;
	padding: .7em 1.2rem;
	margin-bottom: .3rem;
	border-radius: .3rem;
}
#acdc_card .card_field iframe{
	height: 1.2rem !important;
}
#acdc_card .form-row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
#card-holder-name{
	margin-bottom: .3rem;
}
/* Lieferadresse */
.sa-card .stc-input{
    margin-right: .75rem;
}
/* SEPA */
#payment_debit .flex-column-reverse{
	flex-direction: column-reverse;
}
#payment_debit .col-form-label{
	padding: 0;
}
/* Mollie Creditcard */
#mollie-components{
	margin-bottom: 1.5rem;
}
#mollie-components .mollie-component{
	border: 1px solid @defaultborder;
	padding: .6rem 1.2rem;
}
#mollie-components .form-group .col-sm-10{
	width: 100%;
	padding: 0;
}
#order-additional-payment .skip-mollie-components{
	margin: 0 0 1.5rem 0 !important;
	justify-content: space-between;
}
#order-additional-payment .skip-mollie-components > .col{
	padding: 0;
}
@media screen and (max-width: 1600px){
    body:not(.no-pd){
        padding-right: 25rem;
    }
}
@media screen and (max-width: 1199px){
    #shop-nav .xs-order-1{
        order: 1;
        text-align: right;
    }
    #logo{
        justify-content: flex-start;
    }
    body[data-page="11"] #content-wrapper {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #customer{
        width: 100%;
    }
	body[data-page="11"] #logo img{
		margin: 0;
		object-position: left;
	}
}
@media screen and (max-width: 991px){
    body,
    body:not(.no-pd){
        padding: 0;
    }
    #order-confirm>.row{
        margin-bottom: 2rem;
    }
    #panel-submit-order{
        margin-top: 1rem;
    }
    #panel-submit-order h2{
        text-align: left;
    }
    #panel-submit-order .shortdescription{
        display: none;
    }
    #panel-submit-order > div >.visible-xs{
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    #shop-nav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    body[data-page="11"] #evo-nav-wrapper{
        position: static;
        height: auto;
        border: 0;
        margin: 0;
    }
    body:not([data-page="18"]).body-offcanvas #content-wrapper{
        padding-top: 0;
    }
    body[data-page="11"] #content-wrapper{
        margin-top: 0;
    }
    .c-stp > *{
        padding: 1rem 0;
    }
    .c-stps.first{
        margin-bottom: .5rem;
    }
    #checkout form>.panel-wrap {
        margin-bottom: 1.25rem;
    }
    #shop-nav .hidden-xs{
        display: none
    }
    #shop-nav .img-ct{
        width: 1.5rem;
    }
    #shop-nav .visible-xs > span{
        margin-left: auto;
    }
    #check-payment-shipping{
        margin-top: 2rem;
    }
    .c-it:not(.sb-it) .price{
        font-size: 1rem;
    }
    .c-it>.row>div:not(.pr)>.row:last-child > .text-right{
        margin-left: auto;
    }
	#choose-way .step-box{
		flex-wrap: wrap;
		padding: .8rem;
	}
	#choose-way .step-box span:not(.img-ct){
		width: 100%;
		text-align: center;
	}
	#choose-way .img-ct{
		margin-right: 0;
		margin-bottom: .3rem;
	}
	#choose-way {
		margin-bottom: 0.5rem;
	}
	#shop-nav{
		margin-bottom: 1rem;
		border: 0;
	}
}
@media screen and (max-width: 575px){
    #panel-submit-order .submit_once{
        width: 100%;
    }
    input.submit,
    #billing-address,
    #shipping-address{
        width: 100%;
    }
	.sa-card .btn{
		padding-left: .6rem;
		padding-right: .6rem;
	}
	#acdc_card .form-row{
		margin: 0 -8px;
	}
}