#checkout-cart{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    max-height: 100%;
    overflow: auto;
    background: var(--bod-b-l);
    max-width: 28rem;
    width: 100%;
}
.sc-sum .panel{
    width: 100%;
}
.sc-item .small strong{
    font-weight: 500;
    color: var(--bod-t-l);
    display: inline-block;
    width: 30%;
}
.sc-item .small{
    font-size: .8rem;
}
.sc-item li{
    padding: .1rem 0;
}
.sc-item .shortdesc p{
    margin: .25rem 0;
}
@media screen and (max-width: 1600px){
    #checkout-cart{
        max-width: 25rem;
    }
}
@media screen and (max-width: 1199px){
    #checkout-cart{
        padding: 2rem 1.5rem;
    }
}
@media screen and (max-width: 991px){
    #checkout-cart{
        display: none;
    }
}