.c-dp{
    display: block;
    padding: 0;
    border: 0;
}
.c-dp > .inside{
    position: fixed;
    top: 0;
    bottom: 0;
    background: var(--sdb-b);
    padding: 2rem 0;
    transition: transform .4s ease;
    transform: translateX(110%);
    max-width: 25rem;
    right: 0;
    max-height: 100%;
    z-index: 11;
}
.cart-menu.open .c-dp > .inside{
    transform: translateX(0);
}
.c-dp .items-list{
    height: 100%;
    overflow: auto;
	padding-left: 2rem;
    padding-right: 2rem;
}
.c-dp.no-items .fixed-btn-group {
    display: none;
}
.c-dp .fixed-btn-group a:first-child{
    margin-bottom: .5rem;
}
.c-dp .close-sidebar{
	position: fixed;
    display: flex;
    top: .5rem;
    right: .5rem;
    z-index: 11;
}
.cart-menu:not(.open) .close-sidebar{
	display: none;
}
.sc-item{
	border-bottom: 1px solid var(--hr-li);
}
.sc-item .cols-img{
	width: 2.5rem;
	min-width: 2.5rem;	
}
.sc-item .cols-img .img-ct,
.sc-item .cols-img img{
    border-radius: .5rem;
}
.sc-item{
	padding: .5rem 0;
}
.sc-item .cols-price{
	margin-left: auto;
	white-space: nowrap;
}
.sc-item .cols-name{
	margin: 0 .75rem;
}
.sc-item .cols-name.noimg{
    margin-left: 0;
}
.sc-sum{
	padding: 1rem 0;
}
.sc-sum > .cols-sums.sum-tt{
	font-size: 1.2rem;
}
.c-dp .lpa-pay-button{
	text-align: center;
	margin-top: 1rem;
}
.c-dp .ppc-message {
    margin-top: 1rem;
}
.sc-item .editpos,
.sc-item .btn{   
	-webkit-appearance: inherit;
	appearance: inherit;
    border: 0;
    padding: .5rem;
    border-radius: .3rem;
}
.sc-item .editpos{
    margin-left: .5rem;
    background: var(--btn-df-b);
    border: 1px solid var(--btn-df-r);
}
.sc-item .editpos:hover{
	background: var(--btn-df-b-h);
    border: 1px solid var(--btn-df-r-h);
}
.sc-item .editpos svg{
    fill: var(--btn-df-t); 
}
.sc-item .editpos:hover svg{
    fill: var(--btn-df-t-h); 
}
.sc-item .icon.img-ct{
	width: .8rem;
}
.sc-item .droppos{
	margin-left: auto;
}
.sc-item .open .dropdown-backdrop,
.sc-item .edit-item{
	display: none;
}
.sc-item .edit-item.show{
	display: flex;
	padding-top: .5rem;
}
.sc-item .input-group input{
	padding: .3rem .75rem;
	font-size: .8rem;
    width: 4rem;
    border-radius: .3rem 0 0 .3rem;
}
.sc-item .input-group button{
    border: 1px solid var(--inp-r);
    margin: 0;
    width: auto;
    border-radius: 0 .3rem .3rem 0;
    padding: .5rem .8rem;
    background: none;
    border-left: 0;
}
#cart-form-xs{
	display: flex;
	flex-flow: column;
	margin-bottom: 0;
}
#cart-form-xs .sc-item:not(.dropdown){
	order: 1;
}
.c-dp .alert{
    margin: .5rem 0;
}
@media screen and (max-width:767px){
    .c-dp>.inside{
        max-width: 320px;
        padding: 1.25rem 0;
    }
    .c-dp{
        z-index: 110;
    }
	.c-dp .items-list{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
/* Empty Basket */
.c-empt{
    padding: 2rem;
    border-radius: .5rem;
    border: 4px dotted var(--hr-li);
}
.c-empt .img-ct{
    max-width: 4rem;
    margin: auto;
}
.c-empt .h4{
    margin: 1.7rem auto auto auto;
    color: var(--hr-li);
}
.c-empt svg{
    fill: var(--hr-li);
}