#sp-l .panel:not(.open) .panel-body{
    display: none;
}
#sp-l .panel:not(.open) .panel-heading{
    margin: 0;
}
#sp-l .panel-heading{
    cursor: pointer;
}
#sp-l .panel-heading .caret{
    margin-left: auto;
}
#sp-l section:not(:last-child):not(:empty){
    margin-bottom: 1.25rem;
}
#sp-l .panel{
    box-shadow: 0 0 0 0.25rem var(--spl-b);
}