#sp-l .panel-body::-webkit-scrollbar {
    background: #f6f6f6;
}
#sp-l .panel-body::-webkit-scrollbar-track {
    background: #f6f6f6;
}
#sp-l .panel-body::-webkit-scrollbar-thumb {
    background: #666 ;
    border-radius: 2rem;
    border: 5px solid #f6f6f6;
}
#sp-l .panel-body::-webkit-scrollbar-thumb:hover,
#sp-l .panel-body::-webkit-scrollbar-thumb:active{
    border: 4px solid #f6f6f6;    
}
#sp-l .panel-body{
	max-height: 70vh;
	overflow: auto;
	overflow-x: hidden;
}