#bc-w{
    margin-bottom: 0;
}
.pl-heading{
    padding: 2rem 0 1px 0;
    background: var(--plh-b);
    color: var(--plh-t);
}
#plh h1{
    color: var(--plh-h1);
}
#plh .desc .img-ct{
    border: 1px solid var(--pbx-im-r);
}
#plh a{
    color: var(--plh-l);
}
#plh a:hover{
    color: var(--plh-l-h);
}
#plh hr{
    border-color: var(--plh-t);
}
@media screen and (max-width: 991px){
    .pl-heading{
        padding-top: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    .pl-heading{
        padding-top: 1.2rem;
    }
}