.p-c .exp{
    margin-top: auto;
    padding-top: .7rem;
}
.p-c .exp .btn{
    margin: 0;
    font-size: .95rem;
}
.exp.flo-bt input.quantity,
.exp.hide-qty input.quantity{
	display: none;
}
.p-c .exp .hidden-xs{
    padding-left: .4rem;
}
.exp.flo-bt{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 100%;
	pointer-events: none;
}
.exp.flo-bt .img-ct{
    width: 1.4rem;
}
.exp.flo-bt button[type="submit"]{ 
	padding: 0;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
	right: .8rem;
	bottom: .8rem;
	pointer-events: all;
    border-radius: 50%;
}