/* Sidepanel */
#sp-l{
    min-width: 17.5rem;
    width: 17.5rem;
    margin-right: 2.5rem;
    font-size: .92rem;
    line-height: 1.1;
}
#sp-l:empty{
    display: none;
}
#sp-l .dark-bg{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
    z-index: 10;
}
#sp-l section:not(:last-child):not(:empty),
#sp-l .sidebox:not(:last-child):not(:empty){
    margin-bottom: 2.5rem;
}
a.filter-item:before,
.box-jtl-search .fa:before{
    content: '';
    width: 1.125rem;
    min-width: 1.125rem;
    height: 1.125rem;
    display: block;
    border: 1px solid @defaultborder;
    border-radius: .3rem;
    margin-right: .75rem;
    transition: .3s ease;
}
.img-ftr .filter-item:before{
    display: none;
}
.img-ftr.nav{
    margin: 0 -.1rem;
}
.img-ftr .nav-it{
    padding: .1rem;
    margin: 0;
    width: 20%;
}
.img-ftr .icon{
    width: 100%;
    border-radius: .3rem;
}
a.filter-item.active:before,
.box-jtl-search .fa-check-square:before{
    border-color: transparent;
    background: @brand url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBkPSJNODIuOCAxMy45MzhjLTEuNS4xLTIuOS44LTMuOSAyLjItMTQuMiAxNy44LTI3LjEgMzUuNC00MC44IDUyLjlsLTE3LjUtMTcuNGMtMi41LTIuNS02LjEtMi04LjEgMS4xcy0xLjYgNy42LjkgMTAuMWwyMS41IDIxLjZjMi4zIDIuMyA1LjYgMi4xIDcuNy0uNiAxNS40LTE5LjQgMjkuMi0zOC41IDQ0LjQtNTcuNSAyLjMtMi44IDIuMy03LjMuMS0xMC4yLTEuMS0xLjQtMi43LTIuMi00LjMtMi4yeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==')no-repeat center/76%;
}
.img-ftr .filter-item.active .img-ct{
    border: 2px solid @brand;
}
#sp-l .dropdown-menu{
    position: static !important;
    transform: none !important;
    background: none;
    padding: 0;
    box-shadow: none;
    border: 0;
    margin-top: 1rem;
}
#sp-l .dropdown-menu .dropdown-item{
    padding: 0;
}
@media screen and (min-width: 992px){
    #sp-l .close-btn{
        display: none;
    }
}
@media screen and (max-width: 991px){
    #sp-l section:not(:last-child):not(:empty){
        margin-bottom: 1rem;
    }
    body:not(.show-sidebar) #sp-l .inside {
        transform: translateX(110%);
        transition: .4s ease;
    }
    body:not(.show-sidebar) #sp-l .close-btn{
        display: none;
    }
    body.show-sidebar #content-wrapper{
        z-index: 11;
    }
    #sp-l{
        z-index: 11;
        position: fixed;
    }
    #sp-l .inside{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background: white;
        padding: 1.8rem 1.2rem;
        font-size: .9rem;
        overflow: auto;
        z-index: 111;
        max-width: 320px;
        transform: translateX(0);
        transition: .4s ease;
		min-width: 300px;
    }
    #sp-l .close-btn{
        z-index: 120;
        position: fixed;
        right: 1.2rem;
        top: 1.4rem;
    }
    #sp-l #improve_search > .form-group{
        margin: .4rem 0;
    }
    #improve_search .btn-group .btn{
        flex-grow: 1;
        justify-content: center;
    }
    #sp-l section:not(:last-child), 
    #sp-l>.inside>.panel-strap:not(:last-child),
    #sp-l .sidebox:not(:last-child):not(:empty){
        margin-bottom: 1.25rem;
    }
	#sp-l.collapse section:not(:last-child){
		margin: 0;
	}
    .op0{
        opacity: 0;
    }
}