@media screen and (min-width: 1401px){
    #product-offer > .product-info{
        padding-left: 4rem;
    }
}
@media screen and (max-width: 1400px) and (min-width: 768px){
    #product-offer > .product-info{
        padding-left: 2rem;
    }
}
/* Gefahrengut Tabelle */
.adr-table{
    border: 4px solid black;
}
.adr-table .block{
    background: #f59400;
    padding: .5rem;
    color: black;
}
.adr-table .first{
    border-bottom: 4px solid black;
}

/* Preisanzeige */
.buy-wrapper .price{
    font-size: 2.2rem;
    line-height: 1;
    display: block;
    margin-bottom: .25rem;
}
.buy-wrapper .old-price{
	font-weight: 400;
}

/* In den Warenkorb */
#quantity-grp > input{
    margin-right: .5rem;
	min-width: 5rem;
    width: 5rem;
    padding-left: 5px;
    padding-right: 5px;
}
#buy_form .input-group-addon.unit {
    padding: .75rem .5rem;
    margin-right: .5rem;
    margin-left: -.5rem;
}
#add-to-cart .sn-addBasket[disabled]{
    opacity: .5;
}

/* Alerts */
#result-wrapper > .alert{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
	justify-content: space-between;
}
#result-wrapper > .alert .fa,
#result-wrapper > .alert.hidden{
    display: none
}
#result-wrapper > .alert > button{
    font-size: 1rem;
}

.updatingStockInfo{
    position: absolute;
    opacity: 0;
    width: 0;
}

/* PayPal Finanzierung*/
.ppf-container{
	position: relative;
	background: @info;
	border: 0;
	color: #fff;
}
.ppf-container p{
	margin: 0;
}
.ppf-container p:after{
	content: '\203A';
	display: inline-block;
	font-weight: bold;
	margin-left: .25rem;
}
.ppf-container a.show-details{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	font-size: 0;
	text-indent: -999em;
}
/* Bundle-Preis */
.bundle-price{
	margin: 0 1.5rem 0 0 ;
}
.bundle-price .label-warning{
	margin-top: .25rem;
	font-size: smaller;
}
/* Paypal/Amazon */
.add-pays,
.payplan{
    display: none;
}
#add-to-cart ~ .add-pays{
    display: flex;
}
#add-to-cart ~ .payplan{
    display: block;
}
/* Amazon pay Button */
#add-to-cart .lpa-pay-button.lpa-pay-button-express{
	margin: .5rem 0 0 0;
	display: block;
}
/* PayPal Express Button */
.add-pays .paypalexpress.btn-ppe-article{
	margin-top: .5rem;
    margin-bottom: 0;
}
/* payPal */
.ppf-container{
	margin: 1rem 0;
	border-radius: .3rem;
	border-color: @defaultborder
}
.ppf-container p:first-child{
	margin-top: 0;
}
/* Basket Animation on "basked-Added" */
.basked-added .dropdown.open .c-dp>.inside{
	animation: .4s ease .5s 1 both slide-in;
}
/* Ratenzahlung */
.ppc-message{
    margin-top: .5rem;
}
.buy-col{
    margin-top: 1rem;
}
/* Sonderpreis bis */
.sale-wp{
    color: @darktext;
}
.sale-wp .ct-it{
    font-size: 2.6rem;
    font-weight: bold;
}
.sale-wp .ct-un{
    text-transform: uppercase;
}
.sale-wp .ct-wp{
    padding: 0 1rem;
}
.sale-wp .h4{
    text-transform: uppercase;
}
@media screen and (max-width: 1099px){
    .sale-wp .ct-it{
        font-size: 2.3rem;
        font-weight: bold;
    }
    .sale-wp .ct-un{
        font-size: .9rem;
    }
    .sale-wp .ct-wp{
        padding: 0 .4rem;
    }
}
@media screen and (max-width: 767px){
	#shop-nav{
		margin-bottom: 0;
	}
	h1, .h1{
		margin-top: 1.5rem;
	}
	#article-tab-nav{
		margin-bottom: 1rem;
	}
    #product-offer > div{
        width: 100%;
    }
    #product-actions .btn.pr{
        width: 50%;
        justify-content: center;
    }
    #tab-tags .row{
        margin-top: .5rem;
    }
    #tab-votes .pagination-wrapper{
        display: none;
    }
    #reviews-overview{
        margin-bottom: 1.6rem;
    }
    #reviews-overview .rating {
        min-width: 6rem;
        justify-content: flex-end;
    }
    #result-wrapper>.alert{
        margin: 0 0 1.5rem 0;
    }
}
@media screen and (max-width: 549px){
    .sale-wp .ct-it{
        font-size: 2.1rem;
        font-weight: bold;
    }
    .sale-wp .ct-un{
        font-size: .75rem;
    }
}