.qty-btns input::-webkit-outer-spin-button,
.qty-btns input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qty-btns input {
  -moz-appearance: textfield;
  appearance: textfield;
}
.qty-btns .btn{
    border: 1px solid var(--inp-r);
    background: var(--inp-b);
    color: var(--inp-t);
}
.qty-btns .btn:hover{
    border: 1px solid var(--inp-r-h);
    background: var(--inp-b-h);
    color: var(--inp-t-h);
}
.qty-btns .icon{
    width: .8rem;
    min-width: .8rem;
}
.qty-btns input{
    border-right: 0;
    border-left: 0;
    border-radius: 0;
	text-align: center;
}
#buy_form .qty-btns .input-group-addon.unit{
    margin: 0;
    border: 1px solid var(--inp-r);
    background: var(--inp-b);
    color: var(--inp-t);
}
.p-c .qty-btns .btn,
.p-c .qty-btns input{
    padding: .6rem .8rem;
}
.exp .qty-btns input.quantity{
    display: block;
}
#add-to-cart .submit,
.exp .btn-primary,
.qty-btns .btn,
.qty-btns .unit{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}