#article-tab-nav{
	margin-bottom: 2rem;
	overflow: auto;
    overflow-y: hidden;
    border-bottom: 1px solid @lightborder;
}
#article-tabs > .tab-ct{
	display: block;
	height: auto;
	opacity: 1;
	transition: .3s ease;
}
@media screen and (min-width: 768px){
    #article-tabs .tab-ct > .panel-heading{
        display: none;
    }   
    #article-tabs > .tab-ct:not(.active){
        opacity: 0;
        height: 0;
        overflow: hidden;
    } 
}
@media screen and (max-width: 767px){
	#article-tab-nav{
		display: none;
	}
    .tab-content .tab-pane.tab-ct{
        display: block;
    }
    .tab-ct{
        height: auto !important;
    }
    .tab-ct:not(.show) > .panel-body{
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    .tab-ct.show > .panel-body{
        margin: 1.5rem 0;
    }
    .tab-ct > .panel-heading{
        padding: 1rem 0;
        border-bottom: 1px solid @lightborder;
        margin: 0;
        cursor: pointer;
    }
    .tab-ct.show > .panel-heading .img-ct{
        transform: scaleY(-1);
    }
}