#tab-wp{
    max-width: @maxTabsWidthpx;
    margin-left: auto;
    margin-right: auto;
}
.tab-ct > .panel-heading{
    padding: 1.6rem 0;
    border-bottom: 1px solid @lightborder;
    margin: 0;
    cursor: pointer;
}
.tab-ct.open-show > .panel-heading .img-ct{
    transform: scaleY(-1);
}
.tab-ct > .panel-body{
    margin-top: 1.5rem;
}
@media screen and (max-width: 991px){
    #tab-votes > .panel-body > .dpflex{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 767px){
    .tab-ct > .panel-heading{
        padding: 1rem 0;
    }
}