#bxt-w .mw-container{
	max-width: none;
}
body{
    background: var(--bod-b);
}
#bxt-w{
    background: var(--bod-b);
}
@media screen and (min-width: @maxPageWidthpx){
	body{
		background: var(--bxl-b);
	}
	#bxt-w .mw-container{
		padding-left: 50px;
		padding-right: 50px;
	}
	#bxt-w{
		max-width: var(--wdt-pag);
		margin: 2rem auto;
		border: 2px solid var(--bxl-r);
		position: relative;
		background: var(--bod-b);
	}
	.bxt-nm #bxt-w{
		margin: 0 auto;	
	}
	.bxt-nb #bxt-w{
		border: 0;	
	}
}