#km-fullscreen-wrapper{
	height: 100vh;
	position: relative;
}
#km-fullscreen-wrapper #usps-header,
#km-fullscreen-wrapper #top-bar-wrapper,
#km-fullscreen-wrapper #header-promo,
#km-fullscreen-wrapper #shop-nav{
	z-index: 2;
	position: relative;
}
#km-fullscreen-wrapper #usps-header,
#km-fullscreen-wrapper #top-bar-wrapper{
	background: white;
}
#km-fullscreen-wrapper #usps-header.theme-dark{
	background: @blackbg;
}
/* Fullscreen Slider */
#km-fullscreen-wrapper{
	margin-bottom: 5rem;
}
#km-fullscreen-wrapper .sl-w,
#km-fullscreen-wrapper .banner,
#km-fullscreen-wrapper .video-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	margin: 0;
	overflow: hidden;
}
#km-fullscreen-wrapper .banner img{
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}
#km-fullscreen-wrapper .video-foreground{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#km-fullscreen-wrapper .fw-sl,
#km-fullscreen-wrapper .slide,
#km-fullscreen-wrapper .slick-list,
#km-fullscreen-wrapper .slick-track,
#km-fullscreen-wrapper .img-ct{
	height: 100%;
}
#km-fullscreen-wrapper .slick-list{
	height: 100% !important;
}
#km-fullscreen-wrapper .sl-w .img-ct:before{
	display: none;
}
#km-fullscreen-wrapper .dots-wrapper{
	bottom: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
}
/* Abstand, wenn kein mobiler Slider aktiv ist */
[data-page="18"].no-mb-sl #shop-nav{
	margin-bottom: 3.5rem;
}
@media screen and (min-width: 768px){
	.shw-sb #mobile-nav-toggle{
		display: none;
	}
	#cat-w .mm-mainlink{
		height: auto;
	}
}
@media screen and (max-width: 767px){
	#km-fullscreen-wrapper #shop-nav{
		position: relative;
	}
}