/* Slide-In Animation */
@keyframes slide-in{
	from{
		transform: translateX(110%);
	}
	to{
		transform: translateX(0);
	}
}
/* Basket Quantity Hover */
.choose_quantity button:hover .img-ct{
    transform: rotate(360deg);
    transition: 1s ease;
}
/* PayPal Express */
.add-pays .paypal{
    margin-top: .5rem;
}
@media screen and (max-width: 767px){
    /* Mobile Search */
    #search input{
        min-width: 100%;
        padding: .5rem 3.125rem .5rem 1rem;
    }
	#search form{
		max-width: none;
		width: 100%;
	}
    body.show-search .hdr-nav > div,
    body.show-search #logo,
    body.show-search #mob-nt,
    body.show-search #sr-tg-m .img-ct,
    #sr-tg-m .close{
        transform: scale(0);
        opacity: 0;
        pointer-events: none;
    }
    body.show-search #sr-tg-m .img-ct{
        display: none;
    }
    body.show-search #sr-tg-m .close{
        transform: scale(1);
        opacity: 1;
        width: 2rem;
        position: static;
        width: 100%;
    }
    #search{
        display: block;
        position: absolute !important;
        margin: 0;
        right: 15px;
        left: calc(15px + 3rem);
        max-width: 0;
        transition: .5s ease;
        width: auto;
        overflow: hidden;
        opacity: 0;
        z-index: 10;
    }
    body.show-search .hdr-nav>li{
        pointer-events: none;
    }
    body.show-search #sr-tg-m{
        left: 0;
    }
	.shw-sb #search{
		overflow: inherit;
	}
    body.show-search #search{
        max-width: 100%; 
        opacity: 1;
    }
}