:root {
    color-scheme: light !important;
    /* general */
    --brand: @brand;
    --price: @price;
    --bod-b: @siteBackground;
    --bod-b-l: @siteBackgroundLight;
    --bod-t: @defaulttext;
    --bod-t-l: @lighttext;
    --bod-s: @darktext;
    --bod-l: @defaultLink;
    --bod-l-h: @defaultLinkHover;
    --hr: @defaultborder;
    --hr-li: @lightborder;
    --icon: @iconGeneral;
    /* text */
    --h1-t: @headlineH1;
    --h2-t: @headlineH2;
    --h3-t: @headlineH3;
    --h4-t: @headlineH4;
    --h5-t: @headlineH5;
    --h6-t: @headlineH6;
    --txt-da: @textDanger;
    --txt-su: @textSuccess;
    --txt-wa: @textWarning;
    --txt-in: @textInfo;
    /* Alerts */
    --alrt-b: @alertBg;
    --alrt-r: @alertBorder;
    --alrt-t: @alertTxt;
    --succ-b: @alertSuccessBg;
    --succ-r: @alertSuccessBorder;
    --succ-t: @alertSuccessTxt;
    --warn-b: @alertWarningBg;
    --warn-r: @alertWarningBorder;
    --warn-t: @alertWarningTxt;
    --info-b: @alertInfoBg;
    --info-r: @alertInfoBorder;
    --info-t: @alertInfoTxt;
    --dang-b: @alertDangerBg;
    --dang-r: @alertDangerBorder;
    --dang-t: @alertDangerTxt;
    /* Promotionbar */
    --pro-b: @headerPromoStyle; 
    --pro-t: @headerPromoText;
    --pro-i: @headerPromoIcon;
    /* Benefits */
    --ben-b: @headerBenefitBackground;
    --ben-t: @headerBenefitText;
    --ben-i: @headerBenefitIcon;
    /* Topbar */
    --top-b: @topbarBackground;
    --top-l: @topbarLink;
    --top-l-h: @topbarLinkHover;
    --top-r: @topbarBorder;
    /* Header > Shopnav */
    --hed-b: @shopnavBackground;
    --hed-i: @shopnavIcon;
    --hed-i-h: @shopnavIconHover;
    /* Header > Search */
    --ser-b: @searchBackground;
    --ser-b-h: @searchBackgroundHover;
    --ser-r: @searchBorder;
    --ser-t: @searchText;
    --ser-i: @searchIcon;
    /* Header Menu Bar */
    --nav-b: @navBackground;
    --nav-r: @navBorder;
    --nav-l: @navLink;
    --nav-l-h: @navLinkHover;
    --nav-l-h-b: @navLinkHoverBackground;
    /* Header Megamenu */
    --meg-b: @megamenuBackground;
    --meg-t: @megamenuText;
    --meg-l: @megamenuLink;
    --meg-l-h: @megamenuLinkHover;
    --meg-r: @megamenuBorder; 
    /* Header Bredcrumb */
    --brd-b: @breadcrumbBackground;
    --brd-r: @breadcrumbBorder;
    --brd-l: @breadcrumbLink;
    --brd-l-h: @breadcrumbLinkHover;
    /* Category Header */
    --plh-b: @catHeaderBackground;
    --plh-t: @catHeaderText;
    --plh-h1: @catHeaderHeadline;
    --plh-l: @catHeaderLink;
    --plh-l-h: @catHeaderLinkHover;
    /* Dropdowns */
    --dro-b: @dropdownBackground;
    --dro-r: @dropdownBorder;
    --dro-t: @dropdownText;
    --dro-l: @dropdownLink;
    --dro-l-h: @dropdownLinkHover;
    --drbtn-b: @dropdownButtonBackground;
    --drbtn-b-h: @dropdownButtonBackgroundHover;
    --drbtn-t: @dropdownButtonText;
    --drbtn-t-h: @dropdownButtonTextHover;
    --drbtn-r: @dropdownButtonBorder;
    --drbtn-r-h: @dropdownButtonBorderHover;
    /* Modals */
    --mod-b: @modalBackground;
    --mod-t: @modalText;
    --mod-hd-b: @modalHeaderBackground;
    /* Panels */
    --pan-b: @panelBackground;
    --pan-r: @panelBorder;
    --pan-t: @panelText;
    --pan-l: @panelLink; 
    --pan-l-h: @panelLinkHover; 
    /* Cards */
    --crd-r: @cardBorder;
    --crd-b: @cardHeaderBackground;
    /* Forms */
    --inp-b: @inputBackground;
    --inp-b-h: @inputBackgroundHover;
    --inp-r: @inputBorder;
    --inp-r-h: @inputBorderHover;
    --inp-t: @inputText;
    --inp-t-h: @inputTextHover;
    --lab-t: @labelText;
    /* Buttons - Default */
    --btn-df-b: @buttonDefaultBackground;
    --btn-df-b-h: @buttonDefaultBackgroundHover;
    --btn-df-r: @buttonDefaultBorder;
    --btn-df-r-h: @buttonDefaultBorderHover;
    --btn-df-t: @buttonDefaultText;
    --btn-df-t-h: @buttonDefaultTextHover;
    /* Buttons - Primary */
    --btn-pr-b: @buttonPrimaryBackground;
    --btn-pr-b-h: @buttonPrimaryBackgroundHover;
    --btn-pr-r: @buttonPrimaryBorder;
    --btn-pr-r-h: @buttonPrimaryBorderHover;
    --btn-pr-t: @buttonPrimaryText;
    --btn-pr-t-h: @buttonPrimaryTextHover;
    /* Buttons - Warning */
    --btn-wa-b: @buttonWarningBackground;
    --btn-wa-b-h: @buttonWarningBackgroundHover;
    --btn-wa-r: @buttonWarningBorder;
    --btn-wa-r-h: @buttonWarningBorderHover;
    --btn-wa-t: @buttonWarningText;
    --btn-wa-t-h: @buttonWarningTextHover;
    /* Buttons - Info */
    --btn-in-b: @buttonInfoBackground;
    --btn-in-b-h: @buttonInfoBackgroundHover;
    --btn-in-r: @buttonInfoBorder;
    --btn-in-r-h: @buttonInfoBorderHover;
    --btn-in-t: @buttonInfoText;
    --btn-in-t-h: @buttonInfoTextHover;
    /* Buttons - Danger */
    --btn-da-b: @buttonDangerBackground;
    --btn-da-b-h: @buttonDangerBackgroundHover;
    --btn-da-r: @buttonDangerBorder;
    --btn-da-r-h: @buttonDangerBorderHover;
    --btn-da-t: @buttonDangerText;
    --btn-da-t-h: @buttonDangerTextHover;
    /* Buttons - Success */
    --btn-su-b: @buttonSuccessBackground;
    --btn-su-b-h: @buttonSuccessBackgroundHover;
    --btn-su-r: @buttonSuccessBorder;
    --btn-su-r-h: @buttonSuccessBorderHover;
    --btn-su-t: @buttonSuccessText;
    --btn-su-t-h: @buttonSuccessTextHover;
    /* Produktbox */
    --pbx-tt: @pdboxTitle;
    --pbx-tt-h: @pdboxTitleHover;
    --pbx-pr: @pdboxPrice;
    --pbx-im-b: @pdboxImageBackground;
    --pbx-im-r: @pdboxImageBorder;
    --pbx-im-r-h: @pdboxImageBorderHover;
    --pbx-ct-b: @pdboxCountdownBackground;
    --pbx-ct-t: @pdboxCountdownText;
    --pbx-h-b: @pdboxVariationHoverBackground;
    /* Details > Hot Stock */
    --det-hot-b: @alertHotstockBg;
    --det-hot-t: @alertHotstockTxt;
    --det-pna-b: @pdNavBackground;
    --det-pna-i: @pdNavText;
    /* Variations */
    --var-sw-b: @swatchesBackground;
    --var-sw-b-h: @swatchesBackgroundHover;
    --var-sw-r: @swatchesBorder;
    --var-sw-r-h: @swatchesBorderHover;
    --var-sw-t: @swatchesText;
    --var-sw-t-h: @swatchesTextHover;
    /* Scrollbars */
    --scb-tr: @scrollbarBackground;
    --scb-tb: @scrollbarTrack;
    /* Tags */
    --tag-df-b: @tagDefaultBackground;
    --tag-df-t: @tagDefaultText;
    --tag-pr-b: @tagPrimaryBackground;
    --tag-pr-t: @tagPrimaryText;
    /* Badges */
    --bad-b: @badgeBackground;
    --bad-t: @badgeText;
    /* Controls */
    --con-b: @controlBackground;
    --con-b-h: @controlBackgroundHover;
    --con-r: @controlBorder;
    --con-i: @controlText;
    /* Progressbar */
    --prg-b: @progressBackground;
    --prg-b-h: @progressBackgroundHover;
    /* Boxed Layout */
    --bxl-b: @bgBoxed;  
    --bxl-r: @boxedBorder;
    /* Manufacturers */
    --man-b: @manuBackground;
    --man-r: @manuBorder;
    /* Sidebar */
    --sdb-b: @sidebarBackground;
    /* Sliders */
    --sl-ar-b: @sliderArrowBackground;
    --sl-ar-b-h: @sliderArrowBackgroundHover;
    --sl-ar-i: @sliderArrowIcon;
    /* Tabellen */
    --tbl-b: @tableBackground;
    --tbl-b-2: @tableBackgroundSecond;
    --tbl-r: @tableBorder;
    --tbl-s: @tableStrongText;
    --tbl-t: @tableText;
    /* Consent Manager */
    --csm-b: @consentModalBackground;
    --csm-b-l: @consentModalBackgroundAccent;
    --csm-r: @consentModalBorder;
    --csm-t: @consentModalText;
    --csm-tt: @consentModalStrong;
    --csm-l: @consentModalLink;
    --csm-l-h: @consentModalLinkHover;
    --csm-btn-a-b: @consentAcceptBackground;
    --csm-btn-a-b-h: @consentAcceptBackgroundHover;
    --csm-btn-a-l: @consentAcceptLink;
    --csm-btn-a-l-h: @consentAcceptLinkHover;
    --csm-btn-a-r: @consentAcceptBorder;
    --csm-btn-a-r-h: @consentAcceptBorderHover;
    --csm-btn-d-b: @consentDismissBackground;
    --csm-btn-d-b-h: @consentDismissBackgroundHover;
    --csm-btn-d-l: @consentDismissLink;
    --csm-btn-d-l-h: @consentDismissLinkHover;
    --csm-btn-d-r: @consentDismissBorder;
    --csm-btn-d-r-h: @consentDismissBorderHover;
    --csm-sw-b: @consentSwitchBackground;
    --csm-sw-b-h: @consentSwitchBackgroundActive;
    /* Footer */
    --foo-b: @footerBackground;
    --foo-hr: @footerHR;
    --foo-t: @footerText;
    --foo-s: @footerStrong;
    --foo-l: @footerLink;
    --foo-l-h: @footerLinkHover;
    --arw: var(--icon);
    --cls-b: @closeBackground;
    --cls-b-h: @closeBackgroundHover;
    --cls-i: @closeIcon;
    /* Widths */
    --wdt-nws: @maxNewsWidthpx;
    --wdt-pag: @maxPageWidthpx;
    --wdt-tab: @maxTabsWidthpx;
}
*{
    -webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
	box-sizing: border-box;
}
*:focus{
    outline: none;
}
html{
    margin: 0;
    line-height: 1.4;
	scroll-behavior: smooth;
}
body{
	@fontfamily;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    margin: 0;
    background: var(--bod-b);
    color: var(--bod-t);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
/* Helper-Classes */
[class*="dpflex"],
[class*="flx"],
.d-flex{
	display: flex;
}
.df-a-c,
.dpflex-a-c,
.dpflex-a-center,
.flx-ac{
	align-items: center;
}
.dpflex-a-e,
.dpflex-a-end,
.flx-ae{
	align-items: flex-end;
}
.dpflex-a-s,
.dpflex-a-start,
.flx-as{
	align-items: flex-start;
}
.dpflex-j-e,
.dpflex-j-end,
.flx-je{
	justify-content: flex-end;
}
.df-j-b,
.dpflex-j-b,
.dpflex-j-between,
.flx-jb{
	justify-content: space-between;
}
.df-j-c,
.dpflex-j-c,
.dpflex-j-center,
.flx-jc{
	justify-content: center;
}
.dpflex-wrap,
.flx-w{
	flex-wrap: wrap;
}
.dpflex-nowrap,
.flx-nw{
	flex-wrap: nowrap;
}
.df-inl{
	display: inline-flex;
}
.as-fs{
    align-self: flex-start;
}
.nowrap{
	white-space: nowrap;
}
.block,
.d-block{
    display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.container,
.w100,
audio,
video{
    width: 100%;
}
.mw-container{
    padding-left: 100px;
    padding-right: 100px;
    max-width: calc(var(--wdt-pag) + 200px);
    margin-left: auto;
    margin-right: auto;
}
.css-check:before{
	content: '\2713';
	display: inline-block;
	margin-right: .15rem;
	color: var(--brand);
}
.notextov{
	overflow: hidden;
	text-overflow: ellipsis;
}
.noblockov{
	overflow: hidden;
}
.row-multi{
	margin-top: -15px;
	margin-bottom: -15px;
}
.row-multi > [class*="col-"]{
	padding-top: 15px;
	padding-bottom: 15px;
}
.order-last{
    order: 1;
}
.text-brand{
	color: var(--brand);
}
.text-lg{
	font-size: 1.1rem;
}
.mauto{
	margin: auto;
}
#content-wrapper .row-ct{
    flex-wrap: nowrap;
}
#content{
    flex-grow: 1;
    order: 1;
    min-width: 0;
}
.price{
    color: var(--price);
}
/* Überschriften */
h1, .h1{
    font-size: 2.5rem;
    color: var(--h1-t);
}
h2, .h2{
    font-size: 2.2rem;
    color: var(--h2-t);
}
h3, .h3{
    font-size: 1.85rem;
    color: var(--h3-t);
}
h4, .h4, .nav-tabs a, #checkout .panel-title, legend, #order-details h3{
    font-size: 1.25rem;
}
h4, .h4{
    font-size: 1.25rem;
    color: var(--h4-t);
}
h5, .h5{
    font-size: 1.125rem;
    color: var(--h5-t);
}
h6, .h6{
    font-size: 1rem;
    color: var(--h6-t);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.1;
	font-weight: bold;
    letter-spacing: -.2px;
}
strong, b, label, legend{
    font-weight: 600;
    color: var(--bod-s);
}
a,
a.defaultlink:not(.btn),
a:not(.btn):visited{
    color: var(--bod-l);
}
a:not(.btn):hover,
a:not(.btn):focus,
a:not(.btn):active,
a.defaultlink:not(.btn):hover{
    color: var(--bod-l-h);
}
input, button, select, textarea{
	@fontfamily;
    font-size: 1rem;
    line-height: 1rem;
	color: var(--bod-t);
}
textarea{
    line-height: 1.3;
}
ul.list-inline,
ul.navbar-nav,
ul.blanklist,
.nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.list-inline > li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}
ul.list-inline > li:first-child{
    padding-left: 0;
}
ul.list-inline > li:last-child{
    padding-right: 0;
}
.nav .nav{
    margin: .5rem 0 .5rem .8rem;
	padding: 0;
	list-style: none;
    font-size: .85rem;
}
.nav-it{
    margin: .5rem 0;
    position: relative;
}
.nav-sm .nav-it{
    margin: .25rem 0;
}
.nav .fa-caret-down{
    margin-left: auto;
    top: 0;
}
.nav-sub:not(.open) + .nav{
    display: none;
}
.nav-sub.open .fa-caret-down{
    transform: scaleY(-1);
}
.badge{
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 .5rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    background: var(--bad-b);
    color: var(--bad-t);
}
.badge em{
    font-style: normal;
}
.text-nowrap{
    white-space: nowrap;
}
.radio > label{
    display: flex;
    align-items: center;
}
.radio > label .control-label{
    flex-grow: 1;
}
.radio > label > input[type="radio"]{
    margin-right: .5rem;
}
dd{
    margin-left: 0;
}
.hidden,
.sr-only,
.visible-xxs,
.d-none:not(#consent-manager){
    display: none;
}
/* CSS Arrows */
.ar{
    border: solid var(--arw);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.ar-r{
    transform: rotate(-45deg);
}
.ar-l{
    transform: rotate(135deg);
}
.ar-u{
    transform: rotate(-135deg);
    margin-top: .3rem;
}
.ar-d{
    transform: rotate(45deg);
    margin-bottom: .3rem;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

/* Maxwidth 100% */
iframe,
video{
	max-width: 100%;
}

/* Margins */
.m0{
    margin: 0 !important;
}
.ma{
    margin: auto;
}
.mb-spacer,
.mb-lg{
	margin-bottom: 5rem;
}
.mb-md{
    margin-bottom: 3.5rem
}
.mb-small,
.mb-sm{
	margin-bottom: 2rem;
}
.mb-xs{
	margin-bottom: 1rem;
}
.mb-xxs{
    margin-bottom: .5rem;
}
.mt-xxs{
    margin-top: .5rem;
}
.mt-xs{
    margin-top: 1rem;
}
.mt-sm{
    margin-top: 2rem;
}
.mt-md{
    margin-top: 3.5rem;
}
.mt-lg{
    margin-top: 5rem;
}
.mr-xxs{
    margin-right: .5rem;
}
.ml-xxs{
    margin-left: .5rem;
}
.ml-xs{
    margin-left: 1rem;
}
.ml-a{
    margin-left: auto;
}
.c-pt{
    cursor: pointer;
}
.btn-group-justified .btn{
    display: block;
    text-align: center;
}
.hr-sm{
    margin: 10px 0;
}
.hr-xs{
    margin: 5px 0;
}
.hr-xxs{
    margin: 2px 0;
}
.small,
small,
.price-note{
    font-size: .85rem;
    line-height: 1.3;
}
.text-muted,
.label-not-available{
    color: var(--bod-t-l);
}
.disabled,
.not-available{
    opacity: .6;
    cursor: not-allowed;
}
.disabled{
	pointer-events: none;
}
.fa-caret-down,
.bootstrap-select>.btn.dropdown-toggle{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ni42IDQ1LjMyIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNDMuMyA0NS4zMkw4Ni42IDBIMHoiLz48L3N2Zz4=')no-repeat right .95rem center/.5rem auto;
}
.fa-caret-down{
    display: inline-block;
	background-position: center center;
    width: 1rem;
    height: 1rem;  
    position: relative;
    top: 2px;
}
caption{
    text-align: left;
    font-weight: 600;
}
input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance: none;
	height: 1.4rem;
	width: 1.4rem;
	background: var(--cls-b) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBkPSJNNjEuMiA1MC41bDMyLjEgMzIuMWMzIDMgMyA3LjcgMCAxMC43LTMgMy03LjcgMy0xMC43IDBMNTAuNSA2MS4yIDE4LjQgOTMuM2MtMyAzLTcuNyAzLTEwLjcgMC0zLTMtMy03LjcgMC0xMC43bDMyLjEtMzIuMUw3LjcgMTguNGMtMy0zLTMtNy43IDAtMTAuN3M3LjctMyAxMC43IDBsMzIuMSAzMi4xTDgyLjYgNy43YzMtMyA3LjctMyAxMC43IDAgMyAzIDMgNy43IDAgMTAuN0w2MS4yIDUwLjV6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==')no-repeat center center/34%;
	border-radius: 50%;
	cursor: pointer;
}
.input-group,
.form-inline{
    display: flex;
}
.form-inline{
    flex-wrap: wrap;
}
.input-group .form-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	min-width: 0;
}
.input-group .input-group-btn .btn{
    height: 100%;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.input-group-btn{
    white-space: nowrap;
}

/* Tabellen */
table{
    width: 100%;
    margin: 1.5rem 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: var(--tbl-b);
}
table thead,
table th{
    text-align: left;
    color: var(--tbl-s);
}
table th,
table td{
    padding: .5rem .8rem;
    border: 1px solid var(--tbl-r);
}
table tr:nth-child(odd) td{
    background: var(--tbl-b-2);
}
.table-responsive{
    overflow: auto;
    display: block;
    width: 100%;
}

/* Overlay Background */
.overlay-bg,
.modal-dialog,
.kk-popup-modal--custom-width{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  rgba(0,0,0,.7);
    margin: 0;
}
.overlay-bg{
    opacity: 0;
    transition: opacity .4s ease;
    transform: translateY(-1000%);
    z-index: 10;
}
.dropdown.open .overlay-bg,
body.shw-sb #cat-w + .overlay-bg,
body.show-sidebar #sp-l .overlay-bg{
    opacity: 1;
    transform: translateY(0);
}

/* Rating */
.rating .icon:not(:last-child){
    margin-right: .05rem;
}
.rating .icon svg{
    fill: var(--txt-wa);
}
.rating > small{
    margin-left: .2rem;
}
.tooltip{
	display: none !important;
}

/* Custom Content */
.custom-content{
    margin: 4rem 0;
}
.custom-content > *:first-child{
    margin-top: 0;
}
.custom-content > *:last-child{
    margin-bottom: 0;
}
.custom_content a:not(.btn),
.custom-content a:not(.btn),
body[data-page="20"] #content a:not(.btn),
body[data-page="21"] #content a:not(.btn),
body[data-page="27"] #content a:not(.btn){
    color: var(--brand);
}

body #bodyloader{
    line-height: 2.315rem;
    background: var(--info-b);
    color: var(--info-t);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
	transition: .3s ease;
	transition-delay: 1s;
}
body.loading #bodyloader{
	opacity: 1;
	transform: translateY(0);
}
body #bodyloader strong{
	color: var(--info-t);
}

/* Freez Body on Sidepanel open */
body.show-sidebar,
body.lightbox-shown{
    height: 100%;
    overflow: hidden;
    width: 100%;
}
body.show-sidebar #evo-nav-wrapper{
    z-index: -1;
}

/* Amazon Pay Login */
#login_form .lpa-login-button,
#login-popup .lpa-login-button{
	text-align: center;
	margin: .5rem 0;
}

/* Mobile Product Slider Arrows */
.panel-slider .panel-body{
	position: relative;
}
.ar-ct-m{
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	pointer-events: none;
    padding: 1rem 0;
}
.box .ar-ct-m{
    padding: 0;
}
.ar-ct-m .ar-ct:before{
	content: '';
	padding-top: 100%;
	display: block;
}
.ar-ct-m .ar-ct .sl-ar{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: all;
	padding: .5rem 0.8rem;
}
.ar-ct-m .ar-ct .sl-pr{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ar-ct-m .ar-ct .sl-nx{
	transform: translateX(-100%) translateY(-50%);
	margin-left: -15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
@media screen and (min-width: 1600px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmXl * 100%);
	}
}
@media screen and (min-width: 1200px) and (max-width: 1599px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmLg * 100%);
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmMd * 100%);
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmSm * 100%);
	}
}
@media screen and (max-width: 768px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmXs * 100%);
	}
}
@media screen and (max-width: 575px){
	.ar-ct-m .ar-ct .sl-nx{
		margin-left: -8px;
	}
}

/* Labels */
.tag{
    padding: .15rem .4rem;
    background: var(--tag-df-b);
    color: var(--tag-df-t);
    border-radius: .3rem;
    font-size: .8rem;
    display: inline-block;
    vertical-align: middle;
    transition: box-shadow .2s ease;
}
a.tag{
    background: var(--tag-pr-b);
    color: var(--tag-pr-t);
}
a.tag:hover,
a.tag:visited{
    box-shadow: 0 0 0 .125rem var(--tag-pr-b);  
    color: var(--tag-pr-t);
}
.tag + .tag{
    margin-left: .2rem;
}

/* Language Dropdown */
.lng-dd .img-ct.icon{
    border-radius: .2rem;
    overflow: hidden;
}
.lng-dd .img-ct.icon:not(.icon-xl){
    width: 1.5rem;
}
.lng-dd .img-ct img{
    object-fit: fill;
}
.lng-dd .dropdown-menu > li > a{
    display: flex;
}
.lng-dd .name{
    line-height: 1;
}
.lng-dd .name::first-letter{
    text-transform: uppercase;
}
.box-lng-cur .language-dropdown,
.box-lng-cur .dropdown-toggle{
    display: flex;
    justify-content: flex-start;
}
.box-lng-cur .caret{
    margin-left: auto;
}
.hdr-nav .language-dropdown .img-ct{
    border-radius: .3rem;
}
/* Responsive */
@media screen and (max-width: 1400px){
	.mw-container{
        padding-left: 50px;
        padding-right: 50px;
    	max-width: calc(@maxPageWidthpx + 100px);
	}
    h1, .h1{
        font-size: 2.4rem;
    }
}
@media screen and (max-width: 1199px){
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3, .mgm .category-title, legend{
        font-size: 1.65rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: block;
    }
}
@media screen and (max-width: 991px){
    h1, .h1{
        font-size: 2.2rem;
    }
    h2, .h2 {
        font-size: 1.9rem;
    }
    h3, .h3, .mgm .category-title, legend{
        font-size: 1.5rem;
    }
    p{
        margin: .6rem 0;
        font-size: .95rem;
    }
    .small, small, .price-note{
        font-size: .85rem;
    }
    code, kbd, pre, samp{
        font-size: .9rem;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .mgm .category-title{
        margin-bottom: .85rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: flex;
    }
	.mb-lg{
		margin-bottom: 4rem;
	}
    .mb-md{
        margin-bottom: 2.5rem;
    }
    .mb-sm{
        margin-bottom: 1.5rem;
    }
    .mb-xs{
        margin-bottom: .85rem
    }
	.mt-lg{
		margin-top: 4rem;
	}
    .mt-md{
        margin-top: 2.5rem;
    }
    .mt-sm{
        margin-top: 1.5rem;
    }
    .mt-xs{
        margin-top: .85rem
    }
}
@media screen and (max-width: 767px){
    .panel-slider .p-sl{
        padding: 0;
    }
	.mw-container{
        padding-left: 20px;
        padding-right: 20px;
    	max-width: calc(@maxPageWidthpx + 40px);
	}
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 1.7rem;
    }
    h3, .h3, .mgm .category-title, legend {
        font-size: 1.4rem;
    }
    h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3 {
        font-size: 1.15rem;
    }
    h5, .h5 {
        font-size: 1.025rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
    body{
        font-size: .9rem;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .mgm .category-title{
        line-height: 1;
    }
    #main-wrapper{
        overflow-x: hidden;
    }
    #news-overview .hide-overflow > .panel-title{
        display: block;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input.quantity, select, textarea{
        padding: 0.4rem 0.7rem;
    }
    .p-c .price{
        font-size: 1.2rem;
    }
    .custom-content{
        margin: 3rem 0
    }
    .c-it ul{
        margin: .5rem 0;
    }
	body[data-page="18"] .sl-w{
		margin-bottom: 0;
	}
	.banner .area-desc{
		min-width: 15rem;
	}
	.banner a[style]{
		border-width: .2rem;
	}
	.exp.flo-bt .sn-addBasket{
		right: .75rem;
		bottom: .75rem;
	}
	.exp input.quantity{
		display: none;
	}
	.exp .input-group-btn{
		width: 100%;
	}
	.exp .input-group-btn .sn-addBasket{
        border-radius: .5rem;
	}
    .exp .input-group-btn .sn-addBasket .img-ct{
        margin: auto;
    }
	.mb-lg{
		margin-bottom: 3rem;
	}
    .mb-md{
        margin-bottom: 2rem;
    }
    .mb-sm{
        margin-bottom: 1.2rem;
    }
    .mb-xs{
        margin-bottom: .7rem
    }
	.mt-lg{
		margin-top: 3rem;
	}
    .mt-md{
        margin-top: 2rem;
    }
    .mt-sm{
        margin-top: 1.2rem;
    }
    .mt-xs{
        margin-top: .7rem
    }
	.panel-slider .right .btn-primary .ar{
		border-color: var(--sl-ar-i);
		position: relative;
		left: -2px;
	}
	.panel-slider .right .btn-primary{
		padding: .5rem .8rem;
	}
	#page-not-found h1{
		font-size: 6rem;
	}
    #consent-manager #consent-settings-btn{
        left: 0.5rem;
        bottom: 0.5rem;
        padding: 0.3rem;
        width: 2rem;
        height: 2rem;
    }
}
@media screen and (max-width: 575px){
    h1, .h1 {
        font-size: 1.8rem;
    }
    h2, .h2 {
        font-size: 1.5rem;
    }
    h3, .h3, .mgm .category-title, legend {
        font-size: 1.3rem;
    }
    h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3 {
        font-size: 1.05rem;
    }
    h5, .h5 {
        font-size: 1rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
    body{
        font-size: .9rem;
    }
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .row-multi{
        margin-top: -8px;
        margin-bottom: -8px;
    }
    [class*="col-"]{
        padding-left: 8px;
        padding-right: 8px;
    }
    .row-multi [class*="col-"]{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .visible-xxs{
        display: block;
    }
    .custom-content{
        margin: 2rem 0
    }
    .hidden-xxs{
        display: none;
    }
	.exp.flo-bt .sn-addBasket{
		right: .5rem;
		bottom: .5rem;
	}
	.mb-lg{
		margin-bottom: 2rem;
	}
	.p-w:hover .p-c.hv-e:after{
		top: -8px;
		left: -8px;
		right: -8px;
	}
	.p-w:hover .hv-e .exp{
		left: -8px;
		right: -8px;
		padding: 8px;
	}
}
@media screen and (max-width: 499px){
    .p-c .title{
        font-size: .9rem;
    }
    .hdr-nav .lng-dd{
        display: none;
    }
}
/* No Scrollbar */
.no-scrollbar{
	scrollbar-width: none;
	-ms-overflow-style: none;	
}
.no-scrollbar::-webkit-scrollbar { 
	display: none; 
}
/* Snackys Content */
.image .caption{
    margin-top: .7rem;
}


/* Amazon Pay V2 Anpassung */
.lpa-checkout-wrapper .nav-wizard {display: none;}

body .dropdown-backdrop{
    display: none;
}
/* Amazon-Pay-Button */
.p-c .lpa-pay-button.lpa-pay-button-express{
	display: block;
	margin: .5rem 0 0 0;
}
/* JTL Search */
body .jtl_search_results{
    min-width: 0;
}
/* Trustami */
#trustami_jtl_footer{
    margin-bottom: 2rem;
}
.pagination-wrapper:empty{
    display: none;
}
/* info */
i.info{
    font-style: normal;
    background: var(--tag-df-b);
    color: var(--tag-df-t);
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    line-height: 1.2rem;
    font-size: 0.8rem;
    font-family: monospace;
}
i.info:before{
    content: 'i';
}