.p-sl,
.fw-sl{
	scroll-snap-type: x mandatory;
	pointer-events: auto;
}
.panel-slider .sl-ar{
	opacity: .65;
}
.panel-slider .sl-ar.inactive{
    opacity: .3;
}
/* Trusted bei Sidebar-Open ausblenden */
.shw-sb .etrusted-badge-container.etrusted-badge-container--left{
	display: none;
}
/* Mobile-Link nicht Klickbar */
@media screen and (max-width: 768px){
	.mmlca-n #cat-w li:not(.open) > .mm-mainlink .fa-caret-down.visible-xs{
		left: 0;
		width: 100%;
		justify-content: flex-end;
		padding-right: 1.3rem;
	}
}
/* Mobile Filter nicht scrollen */
#sp-l.scrollBoxes .box-body{
	max-height: none
}