#footer{
    background: var(--foo-b);
    color: var(--foo-t);
}
#footer a:not(.btn){
    color: var(--foo-l);
}
#footer a:not(.btn):hover{
    color: var(--foo-l-h);
}
#footer-boxes{
    padding: 4.5rem 0;
    font-size: .95rem;
    border-top: 1px solid var(--foo-hr);
    border-bottom: 1px solid var(--foo-hr);
}
#footer-boxes .panel{
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
}
#footer-boxes .panel-heading,
#footer-boxes .panel-title{
    color: var(--foo-s);
}
#logo-footer img{
    max-width: 10rem;
}
.btn-social{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: .4rem;
}
.btn-social:hover{
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.25);
}
.btn-social>svg{
    width: 55%;
    height: 55%;
}
#copyright{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: var(--bod-t-l);
}
#footer-boxes .col-6:empty{
    display: none;
}
@media screen and (max-width: 1199px){
    #copyright{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #footer-boxes {
        padding: 2.5rem 0
    }
}
@media screen and (max-width: 500px){
    #footer-boxes .col-6{
        width: 100%;
    }
}