#pay-f{
	border-top: 1px solid var(--hr-li);
	padding-top: 3.5rem;
}
#pay-f li{
	margin: .5rem;
}
#pay-f li.text{
	padding: .5rem .8rem;
	border-radius: .3rem;
	border: 1px solid var(--hr);
	font-size: 0.95rem;
	color: var(--bod-t);
}
#pay-f li:empty{
	display: none;
}
#pay-f li.img img{
	max-width: 150px;
}