#nw-cmt{
    max-width: 60rem;
    margin: auto;
}
#nw-ct{
    max-width: @maxNewsWidthpx;
    margin: auto;
}
#nw-ct a:not(.btn){
    color: @brand;
}
#nw-ct a:not(.btn):hover{
    text-decoration: underline;
}
.newscats .btn-xs{
    margin: 0.2rem 0.2rem 0.2rem 0;
    border-radius: .3rem;
}