#frm_filter{
    flex-wrap: wrap;
    margin: 0 -.5rem;
}
#frm_filter > *{
    width: auto;
    flex-grow: 1;
    margin: .5rem;
}
#news-c .img-w img{
    display: block;
}
#news-c .more-l-c{
    margin-top: .75rem;
    display: block;
}
#news-c a.news-more{
    text-decoration: none;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: .2rem;
}
#news-c a.news-more:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
}
#news-c .panel-title .text-muted em{
    font-style: normal;
}
#news-c .panel-title{
    margin-bottom: .75rem;
}
#news-c > .panel-heading h2{
    margin: 0;
}
#news-c div[itemprop="description"] a:after{
    background: @brand;
    @gradientbrand;
}
.btn-xs.badge{
    margin: 0.2rem 0.2rem 0.2rem 0;
    border-radius: .3rem;
}
#comments{
    margin-top: 4rem;
}
#comments p:last-child{
    margin-bottom: .5rem;
}
.news-categorylist{
    margin-top: 1rem;
}
#news-c .v-box.pr{
	white-space: nowrap;
	display: flex;
}
#news-c a.v-box{
	display: flex;
	align-items: center;
}
#news-c .panel-title{
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
}
#news-c .separator{
	display: inline-block;
	margin: 0 .2rem;
}
#news-c h4{
	line-height: normal;
}
#news-c h4,
#news-c .v-box{
	line-height: 1.5rem;
}

#comments blockquote > p:first-child{
	margin-top: 0;
}
#comments blockquote{
	font-size: 1.2rem;
	font-style: normal;
}

#news-c .panel{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#news-c .panel > a.block{
    margin-top: auto;
}
#news-c .panel-body{
    margin: 0 0 .5rem 0;
}
#news-c .v-box{
	white-space: nowrap;
	display: flex;
}
#news-c .separator{
	display: inline-block;
	margin: 0 .2rem;
}
#news-c .v-box{
	line-height: 1.5rem;
}